// Mock block

@mixin block($color: #333, $height: 100px, $padding: 0) {
  $v-guides-color: desaturate(darken($color, 10), 40);

  -webkit-transition: 400ms;
  background-color: rgba($color, .4);
  position: relative;
  min-height: $height;
  -webkit-transition: box-shadow 800ms ease, background 500ms ease;
  -webkit-transition-delay: 600ms 0;
  overflow: hidden;

  > span {
    -webkit-transition: 300ms;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: rgba(black, .6);
    text-align: center;
    margin: -10px auto 0;
    z-index: 2;
    opacity: 0;
    cursor: default;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(lighten($color, 60), .4);

    &::before,
    &::after {
      -webkit-transition: 600ms;
      background: $v-guides-color;
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
    }
    &::before {
      margin-left: -2%;
    }
    &::after {
      margin-left: 2%;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(white, .25);
    margin: $padding;
  }

  &:hover {
    background-color: rgba($color, .5);
    box-shadow: inset 0 0 0px 1px $v-guides-color, 0 1px 5px rgba(black, .3);

    > span {
      opacity: 1;

      &::before,
      &::after {
        width: 98%;
      }
      &::before {
        margin-left: -100%;
      }
    }
  }
}
