// Mock block

@mixin block($color: #333, $height: 100px, $padding: 0) {
  $v-guides-color: desaturate(darken($color, 10), 40);

  @include transition(box-shadow 600ms, background 500ms);
  background-color: rgba($color, .3);
  position: relative;
  min-height: $height;
  overflow: hidden;

  > span {
    @include transition(300ms);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: rgba(black, .6);
    text-align: center;
    margin: -10px auto 0;
    z-index: 2;
    opacity: 0;
    cursor: default;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(lighten($color, 60), .4);

    &::before,
    &::after {
      @include transition(600ms);
      @include box(1px);
      background: $v-guides-color;
      content: "";
      position: absolute;
      margin-top: -1px;
      top: 50%;
    }
    &::before {
      margin-left: -2%;
    }
    &::after {
      margin-left: 2%;
    }
  }

  &::before {
    @include position(absolute, fill);
    content: "";
    background: rgba(white, .25);
    margin: $padding;
  }

  &:hover {
    background-color: rgba($color, .5);
    box-shadow: inset 0 0 0 1px $v-guides-color, 0 0 8px rgba(black, .3);

    > span {
      opacity: 1;

      &::before,
      &::after {
        width: 98%;
      }
      &::before {
        margin-left: -100%;
      }
    }
  }
}
