@import "stratum";

body {
  font: 12px/1.36 Helvetica, Arial, sans-serif;
  color: #444;
  background: #eee;
  margin: 0;
  padding: 0;
}

menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: ($grid-baseline * 2) 0 $grid-baseline;
}

.l-container {
  margin-top: $grid-baseline * 2;
  margin-bottom: $grid-baseline * 2;

  .trace & {
    margin-top: 0;
    margin-bottom: 0;
  }

  > article {
    border-top: 1px solid rgba(black, .2);
    padding: $grid-baseline 0;

    &:first-child {
      border: none;
    }
  }
}

#masthead {
  background: #444;
  font-size: 13px;
  box-shadow: 0 1px 3px rgba(black, .6);

  ul {
    @extend %l-container;
    @include group;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  li {
    float: left;
  }

  a {
    color: #ddd;
    float: left;
    padding: 8px 10px;
    text-decoration: none;
  }

  .active a,
  a:hover {
    background: #363636;
    color: white;
  }

  .active a {
    background: #222;
  }
}

article {
  @include group;

  header,
  h2, h3 {
    @include group;
    font-size: 1.5em;
    color: #777;
    margin-bottom: $grid-baseline;

    h2 {
      display: inline-block;
      font-size: 1em;
      color: #333;
      margin: 0;
    }

    code {
      border-radius: 4px;
      margin: 0 5px;
      padding: 3px;
      background: rgba(#eee, .5);
      color: #ba5232;
      font-size: .9em;
    }
  }
}

.options {
  @include group;
  @include user-select(none);
  float: right;
  background: rgba(black, 0.4);
  padding: 3px 3px 3px 0;
  border-radius: 3px;

  menu {
    float: left;
    margin-left: 3px;

    li {
      margin: 0 0 0 1px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  li {
    float: left;
    padding: 3px 10px;
    font-size: 12px;
    margin-left: 3px;
    background: white;
    cursor: pointer;

    &:hover {
      background: #eee;
      color: #555;
    }
    &:active {
      background: #ccc;
    }
    &.active {
      background: #444;
      color: white;
    }
  }
}
