---
title:  CSS Flexible boxes
css:    misc
---

#page
  .l-container.flex

    %header
      Header
    .box
      %nav
        Navigation
      %article
        Main article
      %aside
        Block aside
    %footer
      Footer
