---
title:  CSS Gradients
css:    misc
---

#page
  .l-container.gradients
    %h2 Linear gradient
    .gradient.m-linear
    %h2 Radial gradient
    .gradient.m-radial
    %h2 Mixed gradient (background shorthand)
    .gradient.m-complex
