---
title:  Icons helper
css:    icons
---

#page
  .l-container.icons
    %a.m-icon.m-glass Glass icon
    %a.m-icon.m-music Music icon
    %a.m-icon.m-search Search icon
    %a.m-icon.m-envelope Envelope icon
