---
title:  Triangle helper
css:    misc
---

#page
  .l-container.triangles
    %h2 Border triangles
    .speechbox.m-top
      anchored to top
    .speechbox.m-top-right
      anchored to top-right
    .speechbox.m-right
      anchored to right
    .speechbox.m-bottom-right
      anchored to bottom-right
    .speechbox.m-bottom
      anchored to bottom
    .speechbox.m-bottom-left
      anchored to bottom-left
    .speechbox.m-left
      anchored to left
    .speechbox.m-top-left
      anchored to top-left
