@import "functions";

// Grid initialisation
// -------------------
$grid-gutter:         grid-column-gutter();
$grid-half-gutter:    $grid-gutter / 2;
$grid-column:         grid-column-width();


// Mixins
// ------

// Grid container to set grid bounds
@mixin grid-container($width: $grid-size) {
  @extend %-clearfix;
  @include box-sizing(content-box);
  width: $width;
  margin: {
    left: auto;
    right: auto;
  }
}


// Grid row
// $type: pixel | fluid
@mixin grid-row($type: $grid-type) {
  @extend %-clearfix;
  @include grid-gutters($type, row);
  clear: both;
}


// Make grid column
@mixin grid-column {
  @include box-sizing(border-box);
  min-height: 1px;
  float: left;
}


// Grid gutters
// $element: column | row
@mixin grid-gutters($type: $grid-type, $element: column) {
  $v-gutter: 0;
  $v-modifier: if($element == column, 1, -1);

  @if $type == fluid {
    $v-gutter: grid-percentage($grid-half-gutter * $v-modifier);
  } @else if $type == pixel {
    $v-gutter: $grid-half-gutter * $v-modifier;
  }

  margin-left:  $v-gutter;
  margin-right: $v-gutter;
}


// Calculate single column width (in pixels) multipled by number of columns it spans (indluding gutters)
@mixin grid-column-width($span: 1, $type: $grid-type, $gutter: $grid-gutter, $total-columns: $grid-total-columns) {
  width: grid-columns-width($span, $grid-column, $gutter, $type, $total-columns);
}


// Offset column
@mixin grid-column-offset($direction, $span: 1, $grid-type: $grid-type) {
  $v-offset: grid-columns-width($span, $type: $grid-type);
  $v-gutter: $grid-gutter;

  // Fluid grid
  @if $grid-type == fluid {
    $v-gutter: grid-percentage($v-gutter);
  }

  #{$direction}: -($v-offset + $v-gutter);
}


// INTERNAL
// Clearfix
%-clearfix {
  @include group;
}
