body > .masthead {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background: #6790c6;
  z-index: 10;
  height: 38px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }
  body > .masthead::after {
    content: " ";
    display: table;
    clear: both; }
  body > .masthead h1 {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
    color: #e1e4e9;
    letter-spacing: 8px;
    line-height: 38px;
    float: left;
    text-transform: uppercase;
    width: 175px;
    padding: 0 20px; }
    body > .masthead h1 a {
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
      color: inherit;
      text-decoration: none;
      text-align: center;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      display: block; }
      body > .masthead h1 a:hover {
        color: white;
        text-shadow: 0 0 3px white; }

nav {
  font-size: 1.1rem; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav a,
  nav a:hover {
    display: block;
    text-decoration: none; }

.site-nav {
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 1px; }
  .site-nav li {
    float: left; }
  .site-nav a {
    padding: 0 12px;
    color: #d6e1f0; }
    .site-nav a:hover, .site-nav a:hover {
      background: #6489ba;
      color: white; }
    .site-nav a:active {
      background: #597fb0; }
  .site-nav .s-active a {
    color: white;
    background: #4e6c92; }

body > .section-nav {
  -webkit-transition: 170ms;
  -moz-transition: 170ms;
  -o-transition: 170ms;
  transition: 170ms;
  position: fixed;
  top: 38px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  width: 180px;
  background: rgba(0, 0, 0, 0.1);
  padding-top: 22px; }
  body > .section-nav .p-toggle {
    -webkit-transition: background 170ms, width 100ms;
    -moz-transition: background 170ms, width 100ms;
    -o-transition: background 170ms, width 100ms;
    transition: background 170ms, width 100ms;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    text-indent: -999em;
    width: 1em;
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 0 1px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.03);
    background: rgba(187, 187, 187, 0.4);
    margin: -22px 0 0 0;
    padding: 0;
    cursor: pointer;
    outline: none; }
    body > .section-nav .p-toggle::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 0.2em;
      height: 0.2em;
      border-radius: 50em;
      border: 0.1em solid rgba(0, 0, 0, 0.24);
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.55);
      margin: auto;
      content: ''; }
    body > .section-nav .p-toggle:hover {
      background: rgba(0, 0, 0, 0.15); }
      body > .section-nav .p-toggle:hover::before {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4); }
    body > .section-nav .p-toggle:active {
      background: rgba(0, 0, 0, 0.3);
      box-shadow: inset -1px -1px 0 rgba(255, 255, 255, 0.2), inset 1px 1px 0 rgba(0, 0, 0, 0.05); }
      body > .section-nav .p-toggle:active::before {
        box-shadow: none;
        background: white;
        border-color: white; }
  body > .section-nav a {
    padding: 5px 20px;
    color: #6a7a90;
    background-clip: padding-box; }
  body > .section-nav a:hover {
    color: #555;
    background: rgba(103, 144, 198, 0.1); }
  body > .section-nav a:active,
  body > .section-nav .s-active a {
    color: #566275;
    background: rgba(103, 144, 198, 0.2); }
  body > .section-nav .s-active a {
    color: white;
    text-shadow: none;
    background: rgba(61, 105, 163, 0.3); }

.index .main .section-nav {
  text-align: center;
  font-size: 1.6em; }
  .index .main .section-nav li {
    display: inline-block;
    width: 49%;
    margin: 0 0 10px; }
  .index .main .section-nav a {
    padding: 40px;
    border: 1px solid #ccc; }
    .index .main .section-nav a:hover {
      background: white;
      border-color: #bbb; }

article::after {
  content: " ";
  display: table;
  clear: both; }
article header {
  position: relative; }
article header,
article h2, article h3 {
  font-size: 1.5em;
  color: #777;
  margin-bottom: 20px; }
  article header::after,
  article h2::after, article h3::after {
    content: " ";
    display: table;
    clear: both; }
  article header h2,
  article h2 h2, article h3 h2 {
    display: inline-block;
    font-size: 1em;
    color: #333;
    margin: 0; }
  article header code,
  article h2 code, article h3 code {
    font-weight: normal;
    border-radius: 4px;
    padding: 3px;
    background: rgba(238, 238, 238, 0.5);
    color: #ba5232;
    font-size: .9em; }

.trace .l-container {
  margin-top: 0;
  margin-bottom: 0; }
.l-container > article {
  padding: 40px 0 20px; }

#page .l-row ~ .l-row {
  margin-top: 20px; }

.options {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-animation: reveal 1s;
  -moz-animation: reveal 1s;
  animation: reveal 1s;
  background: rgba(0, 0, 0, 0.13);
  padding: 3px;
  margin: -2px 0;
  border-radius: 4px;
  line-height: 1;
  font-size: 12px; }
  .options::after {
    content: " ";
    display: table;
    clear: both; }
  .options li, .options menu {
    float: left; }
  .options > li {
    overflow: hidden;
    border-radius: 2px;
    margin-left: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
    .options > li:first-child {
      margin: 0; }
  .options li:not(.p-group) {
    background: white;
    cursor: pointer;
    padding: 5px 10px; }
    .options li:not(.p-group):hover {
      background: #f6f4e9; }
    .options li:not(.p-group).active {
      background: #5fb073;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
      color: white; }
    .options li:not(.p-group):active {
      background: #49935b;
      color: white; }
  .options menu {
    background: rgba(0, 0, 0, 0.1); }
    .options menu li:not(:first-child) {
      margin-left: 1px; }

@-webkit-keyframes reveal {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes reveal {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes reveal {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes reveal {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: 13px/1.4 "Helvetica Neue", Arial, sans-serif;
  height: 100%; }

body {
  padding: 38px 0 0;
  margin: 0;
  color: #444444;
  background: #e1e4e9;
  height: 100%; }

a {
  color: #6790c6;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

menu {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2 {
  margin: 40px 0 20px; }

body > .main {
  -webkit-transition: 170ms;
  -moz-transition: 170ms;
  -o-transition: 170ms;
  transition: 170ms;
  position: relative;
  margin-left: 180px;
  height: 100%;
  padding: 20px; }
body.trace > .main {
  padding: 0; }

body.s-sidebar-hidden > .main {
  margin-left: 15px; }
body.s-sidebar-hidden > .section-nav {
  margin-left: -165px; }
  body.s-sidebar-hidden > .section-nav .m-toggle {
    margin-right: -22px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.03);
    background: #e494b1;
    color: white; }
