// # Calcuate the width of a single column
@function grid-column-width($grid-width, $total-columns, $gutter) {
  @return ($grid-width - (($total-columns - 1) * $gutter)) / $total-columns;
}

// # Calculate the total width of number of columns including gutters
@function grid-columns-width($column-span, $column-width, $column-gutter) {
  @return ceil($column-span * $column-width + ($column-span - 1) * $column-gutter);
}

// # Calculate column gutter from desired value

// This function will find the nearest round number that
// fits well with number of columns and total width specified
@function grid-column-gutter($grid-width, $desired) {
  $v-gutter: 0px;
  $column: 1;

  // Find a round gutter width
  @while $column > $v-gutter {
    $column: grid-column-width($grid-width, $grid-total-columns, $v-gutter);

    @if $column % 1 == 0 {
      $range-from:  $desired - 6;
      $range-to:    $desired + 20;
      $within-range: $v-gutter >= $range-from and $v-gutter <= $range-to;
      // Find gutter within desired range
      @if $within-range {
        @return $v-gutter;
      }
    }

    $v-gutter: $v-gutter + 1;
  }
}

// # Convert percentage of width relative to the total width
@function grid-percentage($width, $grid-width: ($grid-size + $grid-gutter)) {
  @return percentage($width / $grid-width);
}
