@function grid-column-span-width($column-span, $column-width, $column-gutter) {
  @return ceil($column-span * $column-width + ($column-span - 1) * $column-gutter);
}

@function grid-single-column-width($grid-width, $total-columns, $gutter) {
  @return ($grid-width - (($total-columns - 1) * $gutter)) / $total-columns;
}

@function grid-column-gutter($grid-width, $desired) {
  $gutter: 0px;
  $column: 1;
  // Find a round gutter width
  @while $column > $gutter {
    $column: grid-single-column-width($grid-width, $grid-total-columns, $gutter);

    @if $column % 1 == 0 {
      $range-from:  $desired - 6;
      $range-to:    $desired + 20;
      $within-range: $gutter >= $range-from and $gutter <= $range-to;
      // Find gutter within desired range
      @if $within-range {
        @return $gutter;
      }
    }
    $gutter: $gutter + 1;
  }
}

@function grid-calculate-percentage($width, $grid-width: ($grid-medium + $grid-gutter-medium)) {
  @return percentage($width / $grid-width);
}
