@import "../utils/group";
@import "grid-functions";

// Grid initialisation
// -------------------
$grid-gutter-medium:    grid-column-gutter($grid-medium, $grid-desired-gutter);
$grid-gutter-large:     grid-column-gutter($grid-large, $grid-desired-gutter);
$grid-half-gutter-m:    $grid-gutter-medium / 2;
$grid-half-gutter-l:    $grid-gutter-large / 2;
$grid-column-medium:    grid-single-column-width($grid-medium, $grid-total-columns, $grid-gutter-medium);
$grid-column-large:     grid-single-column-width($grid-large, $grid-total-columns, $grid-gutter-large);

$grid-column: $grid-column-medium   !default;


// Mixins
// ------

// Grid container to set grid bounds
@mixin grid-container($width: $grid-medium) {
  @include group;

  width: $width;
  margin: {
    left: auto;
    right: auto;
  }
}

// Grid row
// $type: <pixel|fluid>
@mixin grid-row($type: $grid-type) {
  @include group;
  @include grid-column-margins($type, -1);
}

// Converts into grid column
// $variation - can be normal, last, end, inner or centered
@mixin grid-column($type: $grid-type) {
  @include box-sizing(border-box);
  min-height: 1px;
  float: left;
}

// Column margins
// $modifier: 1   - normal column margins
// $modifier: -1  - negative row margins
@mixin grid-column-margins($type: $grid-type, $modifier: 1) {
  $v-gutter:   auto;

  @if($type == fluid) {
    $v-gutter: grid-calculate-percentage($grid-half-gutter-m * $modifier);
  } @else if ($type == pixel) {
    $v-gutter: $grid-half-gutter-m * $modifier;
  }

  margin-left:  $v-gutter;
  margin-right: $v-gutter;
}

// Calculate single column width (in pixels) multipled by number of columns it spans (indluding gutters)
@mixin grid-column-width($span: 1, $type: $grid-type, $gutter: $grid-gutter-medium) {
  $v-col-width: auto;

  @if($type == pixel) {
    $v-col-width: grid-column-span-width($span, $grid-column-medium, $gutter);
  } @else if($type == fluid) {
    $v-col-width: grid-calculate-percentage(grid-column-span-width($span, $grid-column-medium, $gutter));
  }

  width: $v-col-width;
}


// TODO simplify
// Calculate offset width based on number of columns it spans (including gutters)
@mixin grid-offset-by-column($span: 1, $direction: left, $type: positive, $first: false) {
  $v-offset: 0;

  @if $type == positive {
    // normal offset
    $v-offset: grid-column-span-width($span, $grid-column-medium, $grid-gutter-medium) + ($grid-gutter-medium * 3 / 2);
  } @else {
    // negative offset
    // left
    @if $direction == left {
      $v-offset: -(grid-column-span-width($span, $grid-column-medium, $grid-gutter-medium) + ($grid-gutter-medium));
      @if $first {
        $v-offset: $v-offset + $grid-gutter-medium / 2;
      }
    // right
    } @else {
      $v-offset: -(grid-column-span-width($span, $grid-column-medium, $grid-gutter-medium) + ($grid-gutter-medium / 2));
      margin-left: abs($v-offset) + $grid-gutter-medium * 3 / 2;
    }
  }

  margin-#{$direction}: $v-offset;
}
