@import "grid-functions";

// Grid initialisation
// -------------------
$grid-gutter:         grid-column-gutter();
$grid-half-gutter:    $grid-gutter / 2;
$grid-column:         grid-column-width();


// Mixins
// ------

// Grid container to set grid bounds
@mixin grid-container($width: $grid-size) {
  min-width: $width;
  max-width: 100%;
  width: $width;
  margin: {
    left: auto;
    right: auto;
  }
}

// Grid row
// $type: <pixel|fluid>
@mixin grid-row($type: $grid-type) {
  @include grid-column-margins($type, -1);
}

// Converts into grid column
// $variation - can be normal, last, end, inner or centered
@mixin grid-column($type: $grid-type) {
  @include box-sizing(border-box);
  min-height: 1px;
  float: left;
}

// Column margins
// $modifier: 1   - normal (column) margins
// $modifier: -1  - negative (row) margins
@mixin grid-column-margins($type: $grid-type, $modifier: 1) {
  $v-gutter:   auto;

  @if($type == fluid) {
    $v-gutter: grid-percentage($grid-half-gutter * $modifier);
  } @else if ($type == pixel) {
    $v-gutter: $grid-half-gutter * $modifier;
  }

  margin-left:  $v-gutter;
  margin-right: $v-gutter;
}

// Calculate single column width (in pixels) multipled by number of columns it spans (indluding gutters)
@mixin grid-column-width($span: 1, $type: $grid-type, $gutter: $grid-gutter) {
  $v-col-width: auto;

  @if($type == pixel) {
    $v-col-width: grid-columns-width($span);
  } @else if($type == fluid) {
    $v-col-width: grid-percentage(grid-columns-width($span));
  } @else if($type == gutterless) {
    $v-col-width: grid-percentage(grid-columns-width($span, $grid-column + $gutter, 0));
  }

  width: $v-col-width;
}


// Calculate offset width based on number of columns it spans (including gutters)
@mixin grid-offset-by-column($span: 1, $direction: left, $flow: positive, $grid-type: $grid-type) {
  $v-offset: 0px;
  $v-gutter: $grid-gutter;

  // Grid with rows (outer margins)
  @if $grid-type != gutterless {
    $v-gutter: $v-gutter * 1.5; // half gutter from row offset
  }

  // Pixel grid
  @if $grid-type == pixel {
    $v-offset: grid-columns-width($span);
  }
  // Fluid grid
  @if $grid-type == fluid or $grid-type == gutterless {
    $v-gutter: grid-percentage($v-gutter);
    $v-offset: grid-percentage(grid-columns-width($span));
  }

  // Negative offset
  @if $flow == negative {
    $v-offset: -$v-offset + $v-gutter;
  }

  margin-#{$direction}: $v-offset + $v-gutter;
}
