@import "grid-functions";

// Grid defaults settings
// ----------------------

$grid-responsive:       false       !default;

$grid-medium:           980px       !default;
$grid-large:            1200px      !default;

$grid-type:             flexible    !default;
$grid-total-columns:    12          !default;
$grid-baseline:         20px        !default;
$grid-desired-gutter:   20px        !default;

// Debug settings
$grid-guides:           true        !default;
$grid-guides-color:     #c84e5b     !default;
$grid-guides-opacity:   .2          !default;
$grid-guides-position:  back        !default;

@import "grid-mixins";
@import "grid-classes";
