// border-radius
// -------------

// Vendor prefixes:
// - Android < 1.6
// - iOS 1-3.2
// - Safari 3-4

// No prefixes
// - Chrome
// - Firefox 4+
// - Opera 10.50+
// - IE 9+
// - iOS 4+
// - Safari 5+
// - Android 2.1+

// Optional second parameter `clip` can be passed to clip background to padding box
// allowing transparency in borders overlayed over container background.

// Due to Sass parsing values surrounded by parentheses 2 radii
// values (such as 30px/60px) need to be quoted: "30px/30px"

@mixin border-radius($value...) {
  $-value: nth($value, 1);
  @include vendor-prefix(border-radius, unquote($-value), webkit spec);

  @if length($value) > 1 and nth($value, 2) == clip {
    @include vendor-prefix(background-clip, padding-box, webkit spec);
  }
}
