// -----------------------------------------------------------------------------
// • Functions
// -----------------------------------------------------------------------------
// » grid-column-span-width($column-span, $column-width, $column-gutter)
//   calculate merged columns with (including gutter)
//    $column-span: <integer>    - number of columns
//    $column-width              - with of single column
//    $column-gutter             - column gutter
//
// » grid-single-column-width($grid-width, $total-columns, $gutter)
//   calculate single column width for given container width and gutter width
//    $row-width                 - width of columns container
//    $total-columns: <integer>  - number of total columns
//    $gutter                    - column gutter width
//
// » grid-column-gutter($grid-width, $desired)
//   calculate gutter width from total grid width and desired approximate gutter width
//    $grid-width                - total grid width
//    $grid-gutter               - desired gutter width (will return closest)
//
// » number-to-word($number)
//   return word for requested number
//    $number <integer>          - number to convert
// -----------------------------------------------------------------------------

// $column-span, $column-width, $column-gutter
// $container-margin is a multiplier. Set to 0 to exclude gutters from calculation
@function grid-column-span-width($column-span, $column-width, $column-gutter, $container-margin: 1) {
  @return ceil($column-span * $column-width + ($column-span - 1) * $column-gutter);
}

// $grid-width, $total-columns, $gutter
@function grid-single-column-width($grid-width, $total-columns, $gutter) {
  @return ($grid-width - (($total-columns - 1) * $gutter)) / $total-columns;
}

// $grid-width, $desired
@function grid-column-gutter($grid-width, $desired) {
  $gutter: 0px;
  $column: 1;
  // Find a round gutter width
  @while $column > $gutter {
    $column: grid-single-column-width($grid-width, $grid-total-columns, $gutter);

    @if $column % 1 == 0 {
      $range-from:  $desired - 6;
      $range-to:    $desired + 20;
      $within-range: $gutter >= $range-from and $gutter <= $range-to;
      // Find gutter within desired range
      @if $within-range {
        @return $gutter;
      }
    }
    $gutter: $gutter + 1;
  }
}

@function grid-calculate-percentage($width, $grid-width: ($grid-medium + $grid-gutter-medium)) {
  @return percentage($width / $grid-width);
}
