// -----------------------------------------------------------------------------
// • Form elements
// -----------------------------------------------------------------------------

form {
  fieldset {
    border: 1px solid rgba(black, .2);
    border-radius: 6px;
    padding: $grid-gutter-medium;
    -webkit-font-smoothing: antialiased;
    margin: 1em 0 0;
    &:first-child {
      margin: 0;
    }
  }

  legend {
    font-size: .9em;
    color: #555;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 8px;
    margin: 0 -5px;
    display: inline-block;
  }

  label {
    display: block;
    font-size: .9em;
    color: #aaa;
    margin: 0 0 .5em;

    &.inline {
      display: inline-block;
      padding-right: 10px;
      margin: 0;
    }

    &.inline.right {
      @extend .three;
      text-align: right;
    }
  }
}

// Inputs

%input-form-element {
  border: 1px solid #aaa;
  border-radius: 2px;
  line-height: $grid-baseline;
  color: #555;
  @include transition(140ms);
}

input {
  $shadow: inset 0 1px 1px rgba(black, .08);

  @extend %input-form-element;
  display: block;
  padding: 4px 6px;
  outline: none;
  vertical-align: middle;
  background: #f6f6f6;
  @include box-shadow($shadow);
  @include placeholder-color(#ccc);

  & + input {
    margin-top: 5px;
  }

  &:focus {
    background: #fff;
    border-color: darken(#3c96cb, 10);
    @include box-shadow($shadow, 0 0 0 1px rgba(white, .25), 0 0 0 2px rgba(#3c96cb, .4));
  }

  &.medium {
    @extend .four;
  }
  &.large {
    @extend .six;
  }
  &.inline {
    vertical-align: top;
    display: inline-block;
  }
}

// Buttons

button {
  @extend %input-form-element;
  padding: 4px 12px;
  @include background(linear-gradient(#eee, #ccc));
  text-shadow: 0 1px 0 #eee;
  font-size: .9em;
  outline: none;
  border-radius: 3px;

  &:hover, &:focus {
    @include background(linear-gradient(#eee, #d3d3d3));
    border-color: #999;
  }
  &:focus {
    border-color: darken(#3c96cb, 10);
    @include box-shadow(0 0 0 1px rgba(white, .25), 0 0 0 2px rgba(#3c96cb, .4));
  }
  &:active {
    border-color: #777;
    @include box-shadow(0 -1px 0 rgba(black, .08), 0 1px 0 rgba(white, .6), inset 0 0 2px rgba(black, .2));
    @include background(linear-gradient(#ccc, #d7d7d7));
  }

  &.primary {
    color: #eee;
    font-weight: 500;
    text-shadow: 0 -1px 0 #222;
    border-color: #222;
    @include background(linear-gradient(#555, #333));
  }
}
