// -----------------------------------------------------------------------------
// • Scaffolding
// -----------------------------------------------------------------------------
// .row       - outer columns container (centers within the containing element)
// .row .row  - inner columns container

// .column-borders    - show borders between columns (set on container containing .column(s))
// .column, .columns  - use for individual columns. (.one, .two, .three, ... .twenty-four to span columns)

// .column.last       - treat as last column in the row, float right
// .column.end        - treat as end column, float left as the previous columns
// .column.centered   - centre column

// .flush-right       - flush element to right
// .flush-left        - flush element to left

// .<one>-from-left   - offset column by (one, two, three, ... twenty-four) column spans

// .show-grid         - show grid guide (useful for debugging and layout building)
// -----------------------------------------------------------------------------

@import "bedrock/grid"

// Rows
.row
  +grid-row
  // Inner row
  .row
    +grid-row(inner)

// Draw guides if $grid-guides is set
@if $grid-guides
  .row
    @extend .show-grid
    .row:before
      display: none

.column-borders
  +grid-column-borders($grid-medium)

  +large-screen
    +grid-column-borders($grid-large)


// Columns
.column, .columns
  +grid-column

// Columns in the inner row
.row .row .column, .row .row .columns,
.row .row [class*="column"] + [class*="column"].last,
.row .row [class*="column"] + [class*="column"]:last-child,
  +grid-column(inner)

// Centred column
[class*="column"] + [class*="column"].centered,
[class*="column"] + [class*="column"].centered:last-child,
.row .row [class*="column"] + [class*="column"].centered,
  +grid-column(centered)

// Last column
[class*="column"] + [class*="column"]:last-child,
[class*="column"] + [class*="column"].last
  +grid-column(last)

// Ending column (following others)
[class*="column"] + [class*="column"].end
  +grid-column(end)

// Column sizes
@for $i from 1 through $grid-total-columns
  .#{number-to-word($i)}
    +grid-column-width($i)

// Offsets:
// - Left
@for $i from 1 through $grid-total-columns
  .#{number-to-word($i)}-from-left[class],
  .#{number-to-word($i)}-from-left:first-child[class],
  .row .row .#{number-to-word($i)}-from-left[class],
  .row .row .#{number-to-word($i)}-from-left.end[class],
  .row .row .#{number-to-word($i)}-from-left:first-child[class]
    +grid-offset-by-column($i, left)
// - Right (attribute selector to override other class modifiers, such as .last)
@for $i from 1 through $grid-total-columns
  .#{number-to-word($i)}-from-right[class],
  .#{number-to-word($i)}-from-right:last-child[class],
  .#{number-to-word($i)}-from-right.last[class],
  .#{number-to-word($i)}-from-right.end[class],
  .row .row .#{number-to-word($i)}-from-right:last-child[class],
  .row .row .#{number-to-word($i)}-from-right.last[class]
    +grid-offset-by-column($i, right)

.flush-right
  float: right
.flush-left
  float: left


// Grid debugging
.show-grid
  &.front:before
    z-index: auto

  +grid-show-guides($grid-medium)

  +large-screen
    +grid-show-guides($grid-large)

.show-column-sizes
  +grid-show-column-sizes
