@charset "utf-8";

// © 2012 Tyom Semonov <mail@tyom.net>
// Inspired by Zurb's Foundation & Gridulator.

// -----------------------------------------------------------------------------
// Bedrock settings
// -----------------------------------------------------------------------------
//
// Grid
//
// $grid-medium:         940px;
// $grid-large:          1200px;
// $grid-guides:               true;
// $grid-guides-color:         blue;
// $grid-guides-opacity:       .1;
// $grid-guides-position:      front;
$grid-total-columns:        12;
$grid-desired-gutter:       20px;
// $grid-baseline:             30px;
$grid-display-column-sizes: true;
// $grid-type:                 flexible;
// -----------------------------------------------------------------------------

@import "bedrock/normalize";
@import "bedrock/scaffolding";
// @import "bedrock/grid-debug";
