@charset "utf-8"

@import "settings"
@import "toolbox/normalize"
@import "toolbox/scaffolding"

body
  background: #ddd
  padding: 20px

header
  margin: 0 0 20px
  h1
    margin: 0

.column, .columns
  background: #77ae91
