@import "bedrock"

body
  background: #eee
  padding: 20px

header
  margin: 0 0 20px
  h1
    margin: 0

h2
  font-weight: normal
  color: #777

.row .row
  margin-bottom: grid-column-gutter($grid-medium, $grid-desired-gutter)

.column, .columns
  padding: grid-column-gutter($grid-medium, $grid-desired-gutter) / 2
  background: rgba(#fff, .7)
  font-size: 13px
  color: #aaa
