// Dimensions helpers
// ------------------

// Box element
// <width>, <height>
// If one parameter is specified, make square
@mixin box($args...) {
  @if nth($args, 1) == center {
    margin-left: auto;
    margin-right: auto;
  } @else if length($args) < 3 {
    width: nth($args, 1);
    height: nth($args, length($args));
  } @else {
    @warn "box mixin only takes 1 or 2 arguments"
  }
}
