// Generate CSS triangles
// ----------------------

@mixin triangle($position: top, $color: black, $size: 16px) {
  $-dimensions: null;
  $-colors: null;
  $-height: nth($size, 1);
  $-left: $-height / 1.5;
  $-right: $-height / 1.5;

  // sides width specified
  @if length($size) == 2 {
    $-left: nth($size, 2);
    $-right: nth($size, 2);
  // individual side widths specified
  } @else if length($size) == 3 {
    $-left: nth($size, 2);
    $-right: nth($size, 3);
  }

  @if $position == top {
    $-dimensions: 0 $-right $-height $-left;
    $-colors: transparent transparent $color;
  }
  @if $position == top-right {
    $-dimensions: 0 $-height $-height 0;
    $-colors: transparent $color transparent transparent;
  }
  @if $position == right {
    $-dimensions: $-left 0 $-right $-height;
    $-colors: transparent transparent transparent $color;
  }
  @if $position == bottom-right {
    $-dimensions: 0 0 $-height $-height;
    $-colors: transparent transparent $color;
  }
  @if $position == bottom {
    $-dimensions: $-height $-left 0 $-right;
    $-colors: $color transparent transparent;
  }
  @if $position == bottom-left {
    $-dimensions: $-height 0 0 $-height;
    $-colors: transparent transparent transparent $color;
  }
  @if $position == left {
    $-dimensions: $-left $-height $-right 0;
    $-colors: transparent $color transparent transparent;
  }
  @if $position == top-left {
    $-dimensions: $-height $-height 0 0;
    $-colors: $color transparent transparent transparent;
  }

  @if $-dimensions and $-colors {
    @include box(0px);
    display: inline-block;
    border-style: solid;
    border-width: $-dimensions;
    border-color: $-colors;
  } @else {
    @warn "Unrecognised position '#{$position}'. Use one of: top, top-right, right, bottom-right, bottom, bottom-left, left, top-left";
  }
}

