<header id="masthead">
    <ul class="nav">
        <li {% if page.id == "pixel" %} class="active"{% endif %}><a href="{{site.baseurl}}/grid/pixel.html">Pixel Grid</a></li>
        <li {% if page.id == "fluid" %} class="active"{% endif %}><a href="{{site.baseurl}}/grid/fluid.html">Fluid Grid</a></li>
        <li {% if page.id == "bbc" %} class="active"{% endif %}><a href="{{site.baseurl}}/grid/bbc.html">BBC Homepage Example</a></li>
        <li {% if page.id == "arstechnica" %} class="active"{% endif %}><a href="{{site.baseurl}}/grid/arstechnica.html">Arstechnica Layout Example</a></li>
    </ul>
</header>
