<article data-case-pool="shared">
    <header>
        <h2>Normal</h2>
    </header>
    <div class="l-row">
        <div class="l-col m-3">
            <span>.l-col.m-3</span>
        </div>
        <div class="l-col m-3">
            <span>.l-col.m-3</span>
        </div>
        <div class="l-col m-3">
            <span>.l-col.m-3</span>
        </div>
        <div class="l-col m-3">
            <span>.l-col.m-3</span>
        </div>
    </div>
</article>

<article data-case-pool="shared">
    <header>
        <h2>Offsets</h2>
    </header>
    <div class="l-row">
        <div class="l-col m-4 m-pull-1">
            <span>.l-col.m-to-left-1.m-from-right-1</span>
        </div>
        <div class="l-col m-4">
            <span>.l-col.m-4</span>
        </div>
        <div class="l-col m-4 m-push-1">
            <span>.l-col.m-to-right-1.m-from-left-1</span>
        </div>
    </div>
</article>

<article data-case-pool="shared">
    <header>
        <h2>No column gutters</h2>
        <code>.l-row.m-gutterless</code>
    </header>
    <div class="l-row m-gutterless">
        <div class="l-col m-6">
            <span>.l-col.m-6</span>
        </div>
        <div class="l-col m-3">
            <span>.l-col.m-3</span>
        </div>
        <div class="l-col m-3">
            <span>.l-col.m-3</span>
        </div>
    </div>
</article>

<article data-case-pool="shared">
    <header>
        <h2>No row</h2>
        identical to <code>.l-row.m-gutterless</code>
    </header>
    <div class="l-col m-6">
        <span>.l-col.m-6</span>
    </div>
    <div class="l-col m-3">
        <span>.l-col.m-3</span>
    </div>
    <div class="l-col m-3">
        <span>.l-col.m-3</span>
    </div>
</article>

