$grid-type: fluid;

@import "stratum";
@import "layout/scaffolding";
@import "mock-block";

// @include GRID-GUIDES;


#page {
  .l-row,
  .l-col {
    @include transition(260ms);
  }
}


.l-container {
  width: 80%;
  min-width: 0;

  &.m-pixel {
    width: $grid-size;
    min-width: $grid-size;
  }
}
.l-container .l-col {
  @include block($height: 120px, $padding: $grid-gutter/2);

  &.m-12 {
    @include block(#777, $height: 150px);
  }
}


.l-container .l-container {
  @include group(true);

  h2 {
    margin: 20px $grid-gutter 10px;
  }

  .l-col {
    @include block(#ba5232, $height: 150px, $padding: $grid-gutter/2);
  }
}

.l-container .l-container,
.l-row .l-row {
  .l-col {
    position: relative;

    &:hover {
      z-index: 10;
    }
  }
}
