<div class="debug-responsive">
  <div class="p-feature">
    <span class="p-name"></span>
    <span class="p-variant"></span>
  </div>
  <div class="p-details">
    <div class="p-device">
      <span class="p-label">Device</span>
      <span class="p-width">{{deviceWidth}}</span>
      <span class="p-height">{{deviceHeight}}</span>
    </div>
    <div class="p-viewport">
      <span class="p-label">Viewport</span>
      <span class="p-width">{{viewportWidth}}</span>
      <span class="p-height">{{viewportHeight}}</span>
    </div>
    <div class="p-orientation" ng-show="orientation != undefined">
      <span class="p-label">Orientation</span>
      <span class="p-degree">{{orientation}}°</span>
    </div>
  </div>
</div>
