.l-container::after, .l-container .l-row::after {
  content: " ";
  display: table;
  clear: both; }

.l-container {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 976px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  .l-container .l-container {
    width: auto; }
  .l-container .l-row {
    margin-left: -0.80645%;
    margin-right: -0.80645%;
    clear: both; }

.l-container .l-col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  float: left; }

.l-container .l-col + .l-col:last-child {
  float: right; }

.l-container .l-row .l-col {
  margin-left: 0.80645%;
  margin-right: 0.80645%; }

.l-container .l-row .m-1 {
  width: 10.8871%; }
.l-container .m-1, .l-row.m-gutterless .m-1 {
  width: 12.5%; }

.l-container .l-row .m-2 {
  width: 23.3871%; }
.l-container .m-2, .l-row.m-gutterless .m-2 {
  width: 25%; }

.l-container .l-row .m-3 {
  width: 35.8871%; }
.l-container .m-3, .l-row.m-gutterless .m-3 {
  width: 37.5%; }

.l-container .l-row .m-4 {
  width: 48.3871%; }
.l-container .m-4, .l-row.m-gutterless .m-4 {
  width: 50%; }

.l-container .l-row .m-5 {
  width: 60.8871%; }
.l-container .m-5, .l-row.m-gutterless .m-5 {
  width: 62.5%; }

.l-container .l-row .m-6 {
  width: 73.3871%; }
.l-container .m-6, .l-row.m-gutterless .m-6 {
  width: 75%; }

.l-container .l-row .m-7 {
  width: 85.8871%; }
.l-container .m-7, .l-row.m-gutterless .m-7 {
  width: 87.5%; }

.l-container .l-row .m-8 {
  width: 98.3871%; }
.l-container .m-8, .l-row.m-gutterless .m-8 {
  width: 100%; }

.l-container .l-row.m-gutterless,
.l-container .l-row.m-gutterless .l-row, .l-container .l-row.m-gutterless .l-col {
  margin-left: 0;
  margin-right: 0; }

.l-col.m-1-of-1 {
  width: 100%; }

.l-col.m-1-of-2 {
  width: 50%; }

.l-col.m-1-of-3 {
  width: 33.33333%; }

.l-col.m-1-of-4 {
  width: 25%; }

.l-col.m-1-of-5 {
  width: 20%; }

.l-col.m-1-of-6 {
  width: 16.66667%; }

.l-col.m-1-of-7 {
  width: 14.28571%; }

.l-col.m-1-of-8 {
  width: 12.5%; }

.l-col.m-2-of-3 {
  width: 66.66667%; }

.l-col.m-2-of-4 {
  width: 50%; }

.l-col.m-2-of-5 {
  width: 40%; }

.l-col.m-2-of-6 {
  width: 33.33333%; }

.l-col.m-2-of-7 {
  width: 28.57143%; }

.l-col.m-2-of-8 {
  width: 25%; }

.l-col.m-3-of-4 {
  width: 75%; }

.l-col.m-3-of-5 {
  width: 60.0%; }

.l-col.m-3-of-6 {
  width: 50%; }

.l-col.m-3-of-7 {
  width: 42.85714%; }

.l-col.m-3-of-8 {
  width: 37.5%; }

.l-col.m-4-of-5 {
  width: 80%; }

.l-col.m-4-of-6 {
  width: 66.66667%; }

.l-col.m-4-of-7 {
  width: 57.14286%; }

.l-col.m-4-of-8 {
  width: 50%; }

.l-col.m-5-of-6 {
  width: 83.33333%; }

.l-col.m-5-of-7 {
  width: 71.42857%; }

.l-col.m-5-of-8 {
  width: 62.5%; }

.l-col.m-6-of-7 {
  width: 85.71429%; }

.l-col.m-6-of-8 {
  width: 75%; }

.l-col.m-7-of-8 {
  width: 87.5%; }

.m-push-1,
.m-pull-1, .m-push-2,
.m-pull-2, .m-push-3,
.m-pull-3, .m-push-4,
.m-pull-4, .m-push-5,
.m-pull-5, .m-push-6,
.m-pull-6, .m-push-7,
.m-pull-7, .m-push-8,
.m-pull-8, .l-container.m-pixel, .l-container.m-fluid, .l-col > .l-container {
  position: relative !important; }
  .m-push-1::before,
  .m-pull-1::before, .m-push-2::before,
  .m-pull-2::before, .m-push-3::before,
  .m-pull-3::before, .m-push-4::before,
  .m-pull-4::before, .m-push-5::before,
  .m-pull-5::before, .m-push-6::before,
  .m-pull-6::before, .m-push-7::before,
  .m-pull-7::before, .m-push-8::before,
  .m-pull-8::before, .l-container.m-pixel::before, .l-container.m-fluid::before, .l-col > .l-container::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block !important;
    margin: 0 !important;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) !important;
    background: rgba(255, 0, 0, 0.8) !important;
    padding-top: 20px !important;
    font-size: 20px !important;
    text-align: center !important;
    color: black !important;
    z-index: 10 !important; }

.m-push-1::before,
.m-pull-1::before {
  content: "`$grid-offsets` is not enabled" !important; }

.m-push-2::before,
.m-pull-2::before {
  content: "`$grid-offsets` is not enabled" !important; }

.m-push-3::before,
.m-pull-3::before {
  content: "`$grid-offsets` is not enabled" !important; }

.m-push-4::before,
.m-pull-4::before {
  content: "`$grid-offsets` is not enabled" !important; }

.m-push-5::before,
.m-pull-5::before {
  content: "`$grid-offsets` is not enabled" !important; }

.m-push-6::before,
.m-pull-6::before {
  content: "`$grid-offsets` is not enabled" !important; }

.m-push-7::before,
.m-pull-7::before {
  content: "`$grid-offsets` is not enabled" !important; }

.m-push-8::before,
.m-pull-8::before {
  content: "`$grid-offsets` is not enabled" !important; }

.l-container.m-pixel::before, .l-container.m-fluid::before {
  content: "`$grid-overrides` is not enabled" !important; }

.l-col > .l-container::before {
  content: "`$grid-nested-grids` is not enabled" !important; }

.m-show-guides {
  position: relative; }
  .m-show-guides:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top, transparent 19px, rgba(255, 255, 255, 0.2) 19px), -webkit-linear-gradient(left, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 87.09677%, transparent 87.09677%, transparent 100%), -webkit-linear-gradient(top, transparent 160px, rgba(255, 255, 255, 0.16667) 19px), -webkit-linear-gradient(top, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
    background: -moz-linear-gradient(top, transparent 19px, rgba(255, 255, 255, 0.2) 19px), -moz-linear-gradient(left, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 87.09677%, transparent 87.09677%, transparent 100%), -moz-linear-gradient(top, transparent 160px, rgba(255, 255, 255, 0.16667) 19px), -moz-linear-gradient(top, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
    background: linear-gradient(to bottom, transparent 19px, rgba(255, 255, 255, 0.2) 19px), linear-gradient(to right, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 87.09677%, transparent 87.09677%, transparent 100%), linear-gradient(to bottom, transparent 160px, rgba(255, 255, 255, 0.16667) 19px), linear-gradient(to bottom, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
    background-size: 100% 20px, 12.77473% 10px, 100% 180px; }
  .m-show-guides::before {
    z-index: -1; }
    .l-container .m-show-guides.l-row::before {
      margin: 0 0.80645%; }
    .m-show-guides.l-row.m-gutterless::before {
      margin: 0; }
  .m-show-guides.l-container .l-container::before {
    content: none; }
  .l-container .m-show-guides.l-row .l-row::before {
    content: none; }
  .m-show-guides.m-front {
    position: relative; }
    .m-show-guides.m-front:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: -webkit-linear-gradient(top, transparent 19px, rgba(255, 255, 255, 0.2) 19px), -webkit-linear-gradient(left, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 87.09677%, transparent 87.09677%, transparent 100%), -webkit-linear-gradient(top, transparent 160px, rgba(255, 255, 255, 0.16667) 19px), -webkit-linear-gradient(top, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
      background: -moz-linear-gradient(top, transparent 19px, rgba(255, 255, 255, 0.2) 19px), -moz-linear-gradient(left, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 87.09677%, transparent 87.09677%, transparent 100%), -moz-linear-gradient(top, transparent 160px, rgba(255, 255, 255, 0.16667) 19px), -moz-linear-gradient(top, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
      background: linear-gradient(to bottom, transparent 19px, rgba(255, 255, 255, 0.2) 19px), linear-gradient(to right, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 87.09677%, transparent 87.09677%, transparent 100%), linear-gradient(to bottom, transparent 160px, rgba(255, 255, 255, 0.16667) 19px), linear-gradient(to bottom, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
      background-size: 100% 20px, 12.77473% 10px, 100% 180px; }
    .m-show-guides.m-front::before {
      z-index: 999; }
      .l-container .m-show-guides.m-front.l-row::before {
        margin: 0 0.80645%; }
      .m-show-guides.m-front.l-row.m-gutterless::before {
        margin: 0; }
    .m-show-guides.m-front.l-container .l-container::before {
      content: none; }
    .l-container .m-show-guides.m-front.l-row .l-row::before {
      content: none; }

@media only screen and (min-width: 480px) and (max-width: 979px) {
  .l-container .l-row .m-1 {
    width: 48.3871%; }
    .l-container .l-row .m-1:last-child:nth-child(odd) {
      width: 98.3871%; }
  .l-container .m-1, .l-row.m-gutterless .m-1 {
    width: 50%; }
    .l-container .m-1:last-child:nth-child(odd), .l-row.m-gutterless .m-1:last-child:nth-child(odd) {
      width: 100%; }

  .l-container .l-row .m-2 {
    width: 48.3871%; }
    .l-container .l-row .m-2:last-child:nth-child(odd) {
      width: 98.3871%; }
  .l-container .m-2, .l-row.m-gutterless .m-2 {
    width: 50%; }
    .l-container .m-2:last-child:nth-child(odd), .l-row.m-gutterless .m-2:last-child:nth-child(odd) {
      width: 100%; }

  .l-container .l-row .m-3 {
    width: 98.3871%; }
    .l-container .l-row .m-3:last-child:nth-child(odd) {
      width: 98.3871%; }
  .l-container .m-3, .l-row.m-gutterless .m-3 {
    width: 100%; }
    .l-container .m-3:last-child:nth-child(odd), .l-row.m-gutterless .m-3:last-child:nth-child(odd) {
      width: 100%; }

  .l-container .l-row .m-4 {
    width: 98.3871%; }
    .l-container .l-row .m-4:last-child:nth-child(odd) {
      width: 98.3871%; }
  .l-container .m-4, .l-row.m-gutterless .m-4 {
    width: 100%; }
    .l-container .m-4:last-child:nth-child(odd), .l-row.m-gutterless .m-4:last-child:nth-child(odd) {
      width: 100%; }

  .l-container .l-row .m-5 {
    width: 100%; }
    .l-container .l-row .m-5:last-child:nth-child(odd) {
      width: 98.3871%; }
  .l-container .m-5, .l-row.m-gutterless .m-5 {
    width: 100%; }
    .l-container .m-5:last-child:nth-child(odd), .l-row.m-gutterless .m-5:last-child:nth-child(odd) {
      width: 100%; }

  .l-container .l-row .m-6 {
    width: 100%; }
    .l-container .l-row .m-6:last-child:nth-child(odd) {
      width: 98.3871%; }
  .l-container .m-6, .l-row.m-gutterless .m-6 {
    width: 100%; }
    .l-container .m-6:last-child:nth-child(odd), .l-row.m-gutterless .m-6:last-child:nth-child(odd) {
      width: 100%; }

  .l-container .l-row .m-7 {
    width: 100%; }
    .l-container .l-row .m-7:last-child:nth-child(odd) {
      width: 98.3871%; }
  .l-container .m-7, .l-row.m-gutterless .m-7 {
    width: 100%; }
    .l-container .m-7:last-child:nth-child(odd), .l-row.m-gutterless .m-7:last-child:nth-child(odd) {
      width: 100%; }

  .l-container .l-row .m-8 {
    width: 100%; }
    .l-container .l-row .m-8:last-child:nth-child(odd) {
      width: 98.3871%; }
  .l-container .m-8, .l-row.m-gutterless .m-8 {
    width: 100%; }
    .l-container .m-8:last-child:nth-child(odd), .l-row.m-gutterless .m-8:last-child:nth-child(odd) {
      width: 100%; } }
@media only screen and (max-width: 479px) {
  .l-container .l-row .m-1 {
    width: 98.3871%; }
  .l-container .m-1, .l-row.m-gutterless .m-1 {
    width: 100%; }

  .l-col.m-1-of-1 {
    width: 100%; }

  .l-col.m-1-of-2 {
    width: 100%; }

  .l-col.m-1-of-3 {
    width: 100%; }

  .l-col.m-1-of-4 {
    width: 100%; }

  .l-col.m-1-of-5 {
    width: 100%; }

  .l-col.m-1-of-6 {
    width: 100%; }

  .l-col.m-1-of-7 {
    width: 100%; }

  .l-col.m-1-of-8 {
    width: 100%; }

  .l-container .l-row .m-2 {
    width: 98.3871%; }
  .l-container .m-2, .l-row.m-gutterless .m-2 {
    width: 100%; }

  .l-col.m-2-of-3 {
    width: 100%; }

  .l-col.m-2-of-4 {
    width: 100%; }

  .l-col.m-2-of-5 {
    width: 100%; }

  .l-col.m-2-of-6 {
    width: 100%; }

  .l-col.m-2-of-7 {
    width: 100%; }

  .l-col.m-2-of-8 {
    width: 100%; }

  .l-container .l-row .m-3 {
    width: 98.3871%; }
  .l-container .m-3, .l-row.m-gutterless .m-3 {
    width: 100%; }

  .l-col.m-3-of-4 {
    width: 100%; }

  .l-col.m-3-of-5 {
    width: 100%; }

  .l-col.m-3-of-6 {
    width: 100%; }

  .l-col.m-3-of-7 {
    width: 100%; }

  .l-col.m-3-of-8 {
    width: 100%; }

  .l-container .l-row .m-4 {
    width: 98.3871%; }
  .l-container .m-4, .l-row.m-gutterless .m-4 {
    width: 100%; }

  .l-col.m-4-of-5 {
    width: 100%; }

  .l-col.m-4-of-6 {
    width: 100%; }

  .l-col.m-4-of-7 {
    width: 100%; }

  .l-col.m-4-of-8 {
    width: 100%; }

  .l-container .l-row .m-5 {
    width: 98.3871%; }
  .l-container .m-5, .l-row.m-gutterless .m-5 {
    width: 100%; }

  .l-col.m-5-of-6 {
    width: 100%; }

  .l-col.m-5-of-7 {
    width: 100%; }

  .l-col.m-5-of-8 {
    width: 100%; }

  .l-container .l-row .m-6 {
    width: 98.3871%; }
  .l-container .m-6, .l-row.m-gutterless .m-6 {
    width: 100%; }

  .l-col.m-6-of-7 {
    width: 100%; }

  .l-col.m-6-of-8 {
    width: 100%; }

  .l-container .l-row .m-7 {
    width: 98.3871%; }
  .l-container .m-7, .l-row.m-gutterless .m-7 {
    width: 100%; }

  .l-col.m-7-of-8 {
    width: 100%; }

  .l-container .l-row .m-8 {
    width: 98.3871%; }
  .l-container .m-8, .l-row.m-gutterless .m-8 {
    width: 100%; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .l-smartphone-hide {
    display: none !important; }

  .l-smartphone-show {
    display: inherit !important; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .l-tablet-hide {
    display: none !important; }

  .l-tablet-show {
    display: inherit !important; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .l-retina-hide {
    display: none !important; }

  .l-retina-show {
    display: inherit !important; } }
@media only screen and (orientation: landscape) {
  .l-landscape-hide {
    display: none !important; }

  .l-landscape-show {
    display: inherit !important; } }
@media only screen and (orientation: portrait) {
  .l-portrait-hide {
    display: none !important; }

  .l-portrait-show {
    display: inherit !important; } }
@media only screen and (min-width: 1800px) {
  .l-x-large-screen-hide {
    display: none !important; }

  .l-x-large-screen-show {
    display: inherit !important; } }
@media only screen and (min-width: 1280px) and (max-width: 1799px) {
  .l-large-screen-hide {
    display: none !important; }

  .l-large-screen-show {
    display: inherit !important; } }
@media only screen and (min-width: 980px) and (max-width: 1279px) {
  .l-medium-screen-hide {
    display: none !important; }

  .l-medium-screen-show {
    display: inherit !important; } }
@media only screen and (min-width: 480px) and (max-width: 979px) {
  .l-small-screen-hide {
    display: none !important; }

  .l-small-screen-show {
    display: inherit !important; } }
@media only screen and (max-width: 479px) {
  .l-x-small-screen-hide {
    display: none !important; }

  .l-x-small-screen-show {
    display: inherit !important; } }
.debug-responsive {
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  font-size: 11px;
  cursor: default;
  text-align: center;
  line-height: 1; }
  .debug-responsive > div {
    padding: 10px; }
  .debug-responsive .p-feature {
    font-size: 16px;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .debug-responsive .p-details > div {
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    padding-left: 10px; }
    .debug-responsive .p-details > div:first-child {
      border: none;
      margin: 0;
      padding: 0; }
  .debug-responsive .p-label {
    color: #aaa; }
  .debug-responsive .p-width {
    margin-right: 5px; }
  .debug-responsive .p-width::before {
    content: "X: "; }
  .debug-responsive .p-height::before {
    content: "Y: "; }
  @media only screen and (min-width: 1800px) {
    .debug-responsive .p-name::before {
      content: "Very large screen"; } }
  @media only screen and (min-width: 1280px) and (max-width: 1799px) {
    .debug-responsive .p-name::before {
      content: "Large screen"; } }
  @media only screen and (min-width: 980px) and (max-width: 1279px) {
    .debug-responsive .p-name::before {
      content: "Medium screen"; } }
  @media only screen and (min-width: 480px) and (max-width: 979px) {
    .debug-responsive .p-name::before {
      content: "Small screen"; } }
  @media only screen and (max-width: 479px) {
    .debug-responsive .p-name::before {
      content: "Extra small screen"; } }
  .debug-responsive .p-variant::before {
    content: " : Desktop"; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .debug-responsive .p-variant::before {
        content: ": Tablet"; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .debug-responsive .p-variant::before {
        content: " : Smartphone"; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .debug-responsive .p-variant::after {
      content: " : Retina"; } }

#page {
  padding: 10px; }
  #page .l-container {
    max-width: 100%; }
  #page .hero > .head,
  #page .hero > .dashboard,
  #page .hero > nav {
    margin-top: 10px;
    margin-bottom: 10px; }
  #page .hero > .head .l-col {
    -webkit-transition: box-shadow 300ms, background 500ms;
    -moz-transition: box-shadow 300ms, background 500ms;
    -o-transition: box-shadow 300ms, background 500ms;
    transition: box-shadow 300ms, background 500ms;
    background-color: rgba(0, 128, 0, 0.3);
    position: relative;
    min-height: 75px; }
    #page .hero > .head .l-col > span {
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
      position: absolute;
      top: 50%;
      right: 0px;
      left: 0px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      margin: -10px auto 0;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-weight: bold;
      overflow: hidden;
      text-shadow: 0 0 2px rgba(179, 255, 179, 0.4); }
      #page .hero > .head .l-col > span::before, #page .hero > .head .l-col > span::after {
        -webkit-transition: 600ms;
        -moz-transition: 600ms;
        -o-transition: 600ms;
        transition: 600ms;
        width: 1px;
        height: 1px;
        background: #0f3e0f;
        content: "";
        position: absolute;
        margin-top: -1px;
        top: 50%; }
      #page .hero > .head .l-col > span::before {
        margin-left: -2%; }
      #page .hero > .head .l-col > span::after {
        margin-left: 2%; }
    #page .hero > .head .l-col::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page .hero > .head .l-col:hover {
      background-color: rgba(0, 128, 0, 0.6);
      box-shadow: inset 0 0 0 1px #0f3e0f, 0 0 0 3px rgba(15, 62, 15, 0.35); }
      #page .hero > .head .l-col:hover > span {
        opacity: 1; }
        #page .hero > .head .l-col:hover > span::before, #page .hero > .head .l-col:hover > span::after {
          width: 98%; }
        #page .hero > .head .l-col:hover > span::before {
          margin-left: -100%; }
  #page .hero > .dashboard .p-item {
    -webkit-transition: box-shadow 300ms, background 500ms;
    -moz-transition: box-shadow 300ms, background 500ms;
    -o-transition: box-shadow 300ms, background 500ms;
    transition: box-shadow 300ms, background 500ms;
    background-color: rgba(128, 0, 128, 0.3);
    position: relative;
    min-height: 217px; }
    #page .hero > .dashboard .p-item > span {
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
      position: absolute;
      top: 50%;
      right: 0px;
      left: 0px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      margin: -10px auto 0;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-weight: bold;
      overflow: hidden;
      text-shadow: 0 0 2px rgba(255, 179, 255, 0.4); }
      #page .hero > .dashboard .p-item > span::before, #page .hero > .dashboard .p-item > span::after {
        -webkit-transition: 600ms;
        -moz-transition: 600ms;
        -o-transition: 600ms;
        transition: 600ms;
        width: 1px;
        height: 1px;
        background: #3e0f3e;
        content: "";
        position: absolute;
        margin-top: -1px;
        top: 50%; }
      #page .hero > .dashboard .p-item > span::before {
        margin-left: -2%; }
      #page .hero > .dashboard .p-item > span::after {
        margin-left: 2%; }
    #page .hero > .dashboard .p-item::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 7px; }
    #page .hero > .dashboard .p-item:hover {
      background-color: rgba(128, 0, 128, 0.6);
      box-shadow: inset 0 0 0 1px #3e0f3e, 0 0 0 3px rgba(62, 15, 62, 0.35); }
      #page .hero > .dashboard .p-item:hover > span {
        opacity: 1; }
        #page .hero > .dashboard .p-item:hover > span::before, #page .hero > .dashboard .p-item:hover > span::after {
          width: 98%; }
        #page .hero > .dashboard .p-item:hover > span::before {
          margin-left: -100%; }
  #page .hero > .dashboard .m-right .p-item {
    height: 434px; }
  #page .hero > nav {
    -webkit-transition: box-shadow 300ms, background 500ms;
    -moz-transition: box-shadow 300ms, background 500ms;
    -o-transition: box-shadow 300ms, background 500ms;
    transition: box-shadow 300ms, background 500ms;
    background-color: rgba(51, 51, 51, 0.3);
    position: relative;
    min-height: 63px;
    margin-left: auto;
    margin-right: auto; }
    #page .hero > nav > span {
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
      position: absolute;
      top: 50%;
      right: 0px;
      left: 0px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      margin: -10px auto 0;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-weight: bold;
      overflow: hidden;
      text-shadow: 0 0 2px rgba(204, 204, 204, 0.4); }
      #page .hero > nav > span::before, #page .hero > nav > span::after {
        -webkit-transition: 600ms;
        -moz-transition: 600ms;
        -o-transition: 600ms;
        transition: 600ms;
        width: 1px;
        height: 1px;
        background: #1a1a1a;
        content: "";
        position: absolute;
        margin-top: -1px;
        top: 50%; }
      #page .hero > nav > span::before {
        margin-left: -2%; }
      #page .hero > nav > span::after {
        margin-left: 2%; }
    #page .hero > nav::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page .hero > nav:hover {
      background-color: rgba(51, 51, 51, 0.6);
      box-shadow: inset 0 0 0 1px #1a1a1a, 0 0 0 3px rgba(26, 26, 26, 0.35); }
      #page .hero > nav:hover > span {
        opacity: 1; }
        #page .hero > nav:hover > span::before, #page .hero > nav:hover > span::after {
          width: 98%; }
        #page .hero > nav:hover > span::before {
          margin-left: -100%; }
  #page .content .l-col {
    -webkit-transition: box-shadow 300ms, background 500ms;
    -moz-transition: box-shadow 300ms, background 500ms;
    -o-transition: box-shadow 300ms, background 500ms;
    transition: box-shadow 300ms, background 500ms;
    background-color: rgba(186, 175, 50, 0.3);
    position: relative;
    min-height: 511px; }
    #page .content .l-col > span {
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
      position: absolute;
      top: 50%;
      right: 0px;
      left: 0px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      margin: -10px auto 0;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-weight: bold;
      overflow: hidden;
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.4); }
      #page .content .l-col > span::before, #page .content .l-col > span::after {
        -webkit-transition: 600ms;
        -moz-transition: 600ms;
        -o-transition: 600ms;
        transition: 600ms;
        width: 1px;
        height: 1px;
        background: #6d6a4c;
        content: "";
        position: absolute;
        margin-top: -1px;
        top: 50%; }
      #page .content .l-col > span::before {
        margin-left: -2%; }
      #page .content .l-col > span::after {
        margin-left: 2%; }
    #page .content .l-col::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 8px; }
    #page .content .l-col:hover {
      background-color: rgba(186, 175, 50, 0.6);
      box-shadow: inset 0 0 0 1px #6d6a4c, 0 0 0 3px rgba(109, 106, 76, 0.35); }
      #page .content .l-col:hover > span {
        opacity: 1; }
        #page .content .l-col:hover > span::before, #page .content .l-col:hover > span::after {
          width: 98%; }
        #page .content .l-col:hover > span::before {
          margin-left: -100%; }
  #page .footer {
    -webkit-transition: box-shadow 300ms, background 500ms;
    -moz-transition: box-shadow 300ms, background 500ms;
    -o-transition: box-shadow 300ms, background 500ms;
    transition: box-shadow 300ms, background 500ms;
    background-color: rgba(68, 68, 68, 0.3);
    position: relative;
    min-height: 105px;
    margin-top: 10px; }
    #page .footer > span {
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
      position: absolute;
      top: 50%;
      right: 0px;
      left: 0px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      margin: -10px auto 0;
      z-index: 2;
      opacity: 0;
      cursor: default;
      font-weight: bold;
      overflow: hidden;
      text-shadow: 0 0 2px rgba(221, 221, 221, 0.4); }
      #page .footer > span::before, #page .footer > span::after {
        -webkit-transition: 600ms;
        -moz-transition: 600ms;
        -o-transition: 600ms;
        transition: 600ms;
        width: 1px;
        height: 1px;
        background: #2b2b2b;
        content: "";
        position: absolute;
        margin-top: -1px;
        top: 50%; }
      #page .footer > span::before {
        margin-left: -2%; }
      #page .footer > span::after {
        margin-left: 2%; }
    #page .footer::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 8px; }
    #page .footer:hover {
      background-color: rgba(68, 68, 68, 0.6);
      box-shadow: inset 0 0 0 1px #2b2b2b, 0 0 0 3px rgba(43, 43, 43, 0.35); }
      #page .footer:hover > span {
        opacity: 1; }
        #page .footer:hover > span::before, #page .footer:hover > span::after {
          width: 98%; }
        #page .footer:hover > span::before {
          margin-left: -100%; }
