// Grid settings
$grid-guides-color:         #8aa8c0   !default;
$grid-guides-opacity:       .2        !default;
$grid-guides-position:      front     !default;
$grid-type:                 fluid     !default;
$grid-size:                 900px     !default;
$grid-total-columns:        12        !default;
$grid-desired-gutter:       20px      !default;
$grid-baseline:             18px      !default;

@import "utils/vendor-prefix";
@import "utils/group";

// CSS3 mixins
@import "css3/box-sizing";

// Layout
@import "layout/grid";
// @import "layout/responsive";

// Forms
@import "forms/input-placeholder";
