@charset "utf-8";

// © 2012 Tyom Semonov <mail@tyom.net>
// Inspired by Zurb's Foundation & Gridulator.

// -----------------------------------------------------------------------------
// Stratum settings
// -----------------------------------------------------------------------------
//
// Grid
//
$grid-guides-color:         #8aa8c0;
// $grid-guides-opacity:       .1;
// $grid-guides-position:      front;
$grid-type:                 pixel;
$grid-total-columns:        12;
$grid-desired-gutter:       20px;
// $grid-baseline:             30px;
// -----------------------------------------------------------------------------

@import "utils/vendor-prefix";
@import "utils/group";

// CSS3 mixins
@import "css3/box-sizing";

// Layout
@import "layout/grid";
// @import "layout/responsive";

// Forms
@import "forms/input-placeholder";
