$grid-type: pixel;

$grid-nested-grids: false;
$grid-subdivisions: false;


@import "core";
@import "layout";
@import "mock-block";

// @include GRID-GUIDES;

.l-container .l-col {
  @include block($height: 120px, $padding: $grid-gutter/2);
}
