.l-container {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  .l-container::after {
    content: " ";
    display: table;
    clear: both; }
  .l-container .l-container {
    width: auto; }
  .l-container .l-row {
    margin-left: -18px;
    margin-right: -18px; }
    .l-container .l-row::after {
      content: " ";
      display: table;
      clear: both; }
  .l-container.m-fluid > .l-row {
    margin-left: -1.70455%;
    margin-right: -1.70455%; }
    .l-container.m-fluid > .l-row::after {
      content: " ";
      display: table;
      clear: both; }
  .l-container.m-pixel > .l-row {
    margin-left: -18px;
    margin-right: -18px; }
    .l-container.m-pixel > .l-row::after {
      content: " ";
      display: table;
      clear: both; }
  .l-container .l-container > .l-row {
    margin-left: -1.70455%;
    margin-right: -1.70455%; }
    .l-container .l-container > .l-row::after {
      content: " ";
      display: table;
      clear: both; }
  .l-container .l-row.m-gutterless, .l-container .l-row.m-gutterless .l-row {
    margin-left: 0;
    margin-right: 0; }

.l-container .l-col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  float: left; }
  .l-container .l-row.m-gutterless .l-col {
    margin-left: 0;
    margin-right: 0; }

.l-container > .l-col + .l-col:last-child, .l-container > .l-row .l-col + .l-col:last-child {
  float: right; }

.l-col.m-1 {
  width: 96px; }
  .l-container.m-pixel .l-col.m-1 {
    width: 96px;
    margin-left: 18px;
    margin-right: 18px; }
  .l-container.m-fluid .l-col.m-1 {
    width: 9.09091%;
    margin-left: 1.70455%;
    margin-right: 1.70455%; }
  .l-container.m-pixel .l-row.m-gutterless .l-col.m-1 {
    width: 128px; }
  .l-container.m-fluid .l-row.m-gutterless .l-col.m-1 {
    width: 12.5%; }
  .l-container .l-row.m-gutterless .l-col.m-1, .l-container > .l-col.m-1 {
    width: 128px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-1 {
    width: 132px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-1 {
    width: 12.5%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-2 {
  width: 228px; }
  .l-container.m-pixel .l-col.m-2 {
    width: 228px;
    margin-left: 18px;
    margin-right: 18px; }
  .l-container.m-fluid .l-col.m-2 {
    width: 21.59091%;
    margin-left: 1.70455%;
    margin-right: 1.70455%; }
  .l-container.m-pixel .l-row.m-gutterless .l-col.m-2 {
    width: 255px; }
  .l-container.m-fluid .l-row.m-gutterless .l-col.m-2 {
    width: 25%; }
  .l-container .l-row.m-gutterless .l-col.m-2, .l-container > .l-col.m-2 {
    width: 255px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-2 {
    width: 264px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-2 {
    width: 25%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-3 {
  width: 360px; }
  .l-container.m-pixel .l-col.m-3 {
    width: 360px;
    margin-left: 18px;
    margin-right: 18px; }
  .l-container.m-fluid .l-col.m-3 {
    width: 34.09091%;
    margin-left: 1.70455%;
    margin-right: 1.70455%; }
  .l-container.m-pixel .l-row.m-gutterless .l-col.m-3 {
    width: 383px; }
  .l-container.m-fluid .l-row.m-gutterless .l-col.m-3 {
    width: 37.5%; }
  .l-container .l-row.m-gutterless .l-col.m-3, .l-container > .l-col.m-3 {
    width: 383px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-3 {
    width: 396px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-3 {
    width: 37.5%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-4 {
  width: 492px; }
  .l-container.m-pixel .l-col.m-4 {
    width: 492px;
    margin-left: 18px;
    margin-right: 18px; }
  .l-container.m-fluid .l-col.m-4 {
    width: 46.59091%;
    margin-left: 1.70455%;
    margin-right: 1.70455%; }
  .l-container.m-pixel .l-row.m-gutterless .l-col.m-4 {
    width: 510px; }
  .l-container.m-fluid .l-row.m-gutterless .l-col.m-4 {
    width: 50%; }
  .l-container .l-row.m-gutterless .l-col.m-4, .l-container > .l-col.m-4 {
    width: 510px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-4 {
    width: 528px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-4 {
    width: 50%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-5 {
  width: 624px; }
  .l-container.m-pixel .l-col.m-5 {
    width: 624px;
    margin-left: 18px;
    margin-right: 18px; }
  .l-container.m-fluid .l-col.m-5 {
    width: 59.09091%;
    margin-left: 1.70455%;
    margin-right: 1.70455%; }
  .l-container.m-pixel .l-row.m-gutterless .l-col.m-5 {
    width: 638px; }
  .l-container.m-fluid .l-row.m-gutterless .l-col.m-5 {
    width: 62.5%; }
  .l-container .l-row.m-gutterless .l-col.m-5, .l-container > .l-col.m-5 {
    width: 638px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-5 {
    width: 660px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-5 {
    width: 62.5%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-6 {
  width: 756px; }
  .l-container.m-pixel .l-col.m-6 {
    width: 756px;
    margin-left: 18px;
    margin-right: 18px; }
  .l-container.m-fluid .l-col.m-6 {
    width: 71.59091%;
    margin-left: 1.70455%;
    margin-right: 1.70455%; }
  .l-container.m-pixel .l-row.m-gutterless .l-col.m-6 {
    width: 765px; }
  .l-container.m-fluid .l-row.m-gutterless .l-col.m-6 {
    width: 75%; }
  .l-container .l-row.m-gutterless .l-col.m-6, .l-container > .l-col.m-6 {
    width: 765px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-6 {
    width: 792px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-6 {
    width: 75%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-7 {
  width: 888px; }
  .l-container.m-pixel .l-col.m-7 {
    width: 888px;
    margin-left: 18px;
    margin-right: 18px; }
  .l-container.m-fluid .l-col.m-7 {
    width: 84.09091%;
    margin-left: 1.70455%;
    margin-right: 1.70455%; }
  .l-container.m-pixel .l-row.m-gutterless .l-col.m-7 {
    width: 893px; }
  .l-container.m-fluid .l-row.m-gutterless .l-col.m-7 {
    width: 87.5%; }
  .l-container .l-row.m-gutterless .l-col.m-7, .l-container > .l-col.m-7 {
    width: 893px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-7 {
    width: 924px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-7 {
    width: 87.5%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-8 {
  width: 1020px; }
  .l-container.m-pixel .l-col.m-8 {
    width: 1020px;
    margin-left: 18px;
    margin-right: 18px; }
  .l-container.m-fluid .l-col.m-8 {
    width: 96.59091%;
    margin-left: 1.70455%;
    margin-right: 1.70455%; }
  .l-container.m-pixel .l-row.m-gutterless .l-col.m-8 {
    width: 1020px; }
  .l-container.m-fluid .l-row.m-gutterless .l-col.m-8 {
    width: 100%; }
  .l-container .l-row.m-gutterless .l-col.m-8, .l-container > .l-col.m-8 {
    width: 1020px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-pixel > .l-col.m-8 {
    width: 1056px;
    margin-left: 0;
    margin-right: 0; }
  .l-container.m-fluid > .l-col.m-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

.l-col.m-full {
  width: 100%; }

.l-col.m-half {
  width: 50%; }

.l-col.m-third {
  width: 33.3333%; }

.l-col.m-quarter {
  width: 25%; }

.l-col.m-eighth {
  width: 12.5%; }

.l-col.m-sixteenth {
  width: 6.25%; }

.l-container .l-col.m-centered, .l-container.m-pixel .l-col.m-centered, .l-container.m-fluid .l-col.m-centered, .l-container .l-row.m-gutterless .l-col.m-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.l-container .l-row .l-col {
  margin-left: 18px;
  margin-right: 18px; }

.l-container > .l-row .l-col.m-from-left-1 {
  margin-left: 150px; }
.l-container > .l-row .l-col.m-to-left-1 {
  margin-left: -114px; }
.l-container > .l-row .l-col.m-from-right-1 {
  margin-right: 150px; }
.l-container > .l-row .l-col.m-to-right-1 {
  margin-right: -114px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-1 {
  margin-left: 150px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-1 {
  margin-left: -114px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-1 {
  margin-right: 150px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-1 {
  margin-right: -114px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-1 {
  margin-left: 14.20455%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-1 {
  margin-left: -10.79545%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-1 {
  margin-right: 14.20455%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-1 {
  margin-right: -10.79545%; }
.l-container > .l-row .l-col.m-from-left-2 {
  margin-left: 282px; }
.l-container > .l-row .l-col.m-to-left-2 {
  margin-left: -246px; }
.l-container > .l-row .l-col.m-from-right-2 {
  margin-right: 282px; }
.l-container > .l-row .l-col.m-to-right-2 {
  margin-right: -246px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-2 {
  margin-left: 282px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-2 {
  margin-left: -246px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-2 {
  margin-right: 282px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-2 {
  margin-right: -246px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-2 {
  margin-left: 26.70455%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-2 {
  margin-left: -23.29545%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-2 {
  margin-right: 26.70455%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-2 {
  margin-right: -23.29545%; }
.l-container > .l-row .l-col.m-from-left-3 {
  margin-left: 414px; }
.l-container > .l-row .l-col.m-to-left-3 {
  margin-left: -378px; }
.l-container > .l-row .l-col.m-from-right-3 {
  margin-right: 414px; }
.l-container > .l-row .l-col.m-to-right-3 {
  margin-right: -378px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-3 {
  margin-left: 414px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-3 {
  margin-left: -378px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-3 {
  margin-right: 414px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-3 {
  margin-right: -378px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-3 {
  margin-left: 39.20455%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-3 {
  margin-left: -35.79545%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-3 {
  margin-right: 39.20455%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-3 {
  margin-right: -35.79545%; }
.l-container > .l-row .l-col.m-from-left-4 {
  margin-left: 546px; }
.l-container > .l-row .l-col.m-to-left-4 {
  margin-left: -510px; }
.l-container > .l-row .l-col.m-from-right-4 {
  margin-right: 546px; }
.l-container > .l-row .l-col.m-to-right-4 {
  margin-right: -510px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-4 {
  margin-left: 546px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-4 {
  margin-left: -510px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-4 {
  margin-right: 546px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-4 {
  margin-right: -510px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-4 {
  margin-left: 51.70455%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-4 {
  margin-left: -48.29545%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-4 {
  margin-right: 51.70455%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-4 {
  margin-right: -48.29545%; }
.l-container > .l-row .l-col.m-from-left-5 {
  margin-left: 678px; }
.l-container > .l-row .l-col.m-to-left-5 {
  margin-left: -642px; }
.l-container > .l-row .l-col.m-from-right-5 {
  margin-right: 678px; }
.l-container > .l-row .l-col.m-to-right-5 {
  margin-right: -642px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-5 {
  margin-left: 678px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-5 {
  margin-left: -642px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-5 {
  margin-right: 678px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-5 {
  margin-right: -642px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-5 {
  margin-left: 64.20455%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-5 {
  margin-left: -60.79545%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-5 {
  margin-right: 64.20455%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-5 {
  margin-right: -60.79545%; }
.l-container > .l-row .l-col.m-from-left-6 {
  margin-left: 810px; }
.l-container > .l-row .l-col.m-to-left-6 {
  margin-left: -774px; }
.l-container > .l-row .l-col.m-from-right-6 {
  margin-right: 810px; }
.l-container > .l-row .l-col.m-to-right-6 {
  margin-right: -774px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-6 {
  margin-left: 810px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-6 {
  margin-left: -774px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-6 {
  margin-right: 810px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-6 {
  margin-right: -774px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-6 {
  margin-left: 76.70455%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-6 {
  margin-left: -73.29545%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-6 {
  margin-right: 76.70455%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-6 {
  margin-right: -73.29545%; }
.l-container > .l-row .l-col.m-from-left-7 {
  margin-left: 942px; }
.l-container > .l-row .l-col.m-to-left-7 {
  margin-left: -906px; }
.l-container > .l-row .l-col.m-from-right-7 {
  margin-right: 942px; }
.l-container > .l-row .l-col.m-to-right-7 {
  margin-right: -906px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-7 {
  margin-left: 942px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-7 {
  margin-left: -906px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-7 {
  margin-right: 942px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-7 {
  margin-right: -906px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-7 {
  margin-left: 89.20455%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-7 {
  margin-left: -85.79545%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-7 {
  margin-right: 89.20455%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-7 {
  margin-right: -85.79545%; }
.l-container > .l-row .l-col.m-from-left-8 {
  margin-left: 1074px; }
.l-container > .l-row .l-col.m-to-left-8 {
  margin-left: -1038px; }
.l-container > .l-row .l-col.m-from-right-8 {
  margin-right: 1074px; }
.l-container > .l-row .l-col.m-to-right-8 {
  margin-right: -1038px; }
.l-container.m-pixel > .l-row .l-col.m-from-left-8 {
  margin-left: 1074px; }
.l-container.m-pixel > .l-row .l-col.m-to-left-8 {
  margin-left: -1038px; }
.l-container.m-pixel > .l-row .l-col.m-from-right-8 {
  margin-right: 1074px; }
.l-container.m-pixel > .l-row .l-col.m-to-right-8 {
  margin-right: -1038px; }
.l-container.m-fluid > .l-row .l-col.m-from-left-8 {
  margin-left: 101.70455%; }
.l-container.m-fluid > .l-row .l-col.m-to-left-8 {
  margin-left: -98.29545%; }
.l-container.m-fluid > .l-row .l-col.m-from-right-8 {
  margin-right: 101.70455%; }
.l-container.m-fluid > .l-row .l-col.m-to-right-8 {
  margin-right: -98.29545%; }

.l-container.m-show-guides {
  position: relative; }
  .l-container.m-show-guides:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(transparent 19px, rgba(255, 255, 255, 0.2) 19px), -webkit-linear-gradient(left, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 96px, transparent 96px, transparent 132px), -webkit-linear-gradient(transparent 160px, rgba(255, 255, 255, 0.16667) 19px), -webkit-linear-gradient(rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
    background-size: 132px 20px, 132px 10px, 132px 180px; }
  .l-container.m-show-guides::before {
    z-index: -1; }
  .l-container.m-show-guides .l-container::before {
    content: none; }
  .l-container.m-show-guides.m-front {
    position: relative; }
    .l-container.m-show-guides.m-front:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: -webkit-linear-gradient(transparent 19px, rgba(255, 255, 255, 0.2) 19px), -webkit-linear-gradient(left, rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2) 96px, transparent 96px, transparent 132px), -webkit-linear-gradient(transparent 160px, rgba(255, 255, 255, 0.16667) 19px), -webkit-linear-gradient(rgba(138, 168, 192, 0.2), rgba(138, 168, 192, 0.2));
      background-size: 132px 20px, 132px 10px, 132px 180px; }
    .l-container.m-show-guides.m-front::before {
      z-index: 999; }
    .l-container.m-show-guides.m-front .l-container::before {
      content: none; }

#page .masthead, #page > nav, #page > .content > header, #page > .content .l-col, #page > .content .p-title, #page > .content .p-meta, #page > .content .p-image, #page > .content .p-text, #page .mastfoot .l-col {
  -webkit-transition: 400ms; }

body {
  font: 12px/1.36 Helvetica, Arial, sans-serif;
  color: #444;
  background: #eaeaea;
  padding: 0;
  margin: 0; }

.reference {
  position: absolute;
  left: 0;
  right: 0;
  opacity: .35;
  z-index: -1; }
  .reference img {
    margin: 0 auto;
    display: block; }

#page {
  padding: 0; }
  #page .masthead {
    background-color: rgba(51, 51, 51, 0.4);
    position: relative;
    min-height: 125px;
    -webkit-transition: box-shadow 600ms ease, background 500ms ease;
    -webkit-transition-delay: 600ms 0; }
    #page .masthead span {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 30px;
      line-height: 30px;
      width: 80px;
      margin: -15px 0 0 -40px;
      text-align: center;
      background: #1a1a1a;
      z-index: 2;
      opacity: 0;
      cursor: default;
      -webkit-transition: 300ms;
      -webkit-border-radius: 20px; }
    #page .masthead::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page .masthead.l-col::after {
      opacity: 0;
      -webkit-transition: 300ms ease;
      -webkit-transition-delay: 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      border-top: 1px solid #1a1a1a;
      content: ""; }
    #page .masthead:hover {
      background-color: rgba(51, 51, 51, 0.7);
      box-shadow: inset -1px 0 #1a1a1a, inset 1px 0 #1a1a1a; }
      #page .masthead:hover span {
        opacity: 1; }
      #page .masthead:hover::after {
        opacity: 1;
        left: 0;
        right: 0; }
  #page > nav {
    background-color: rgba(0, 0, 255, 0.4);
    position: relative;
    min-height: 30px;
    -webkit-transition: box-shadow 600ms ease, background 500ms ease;
    -webkit-transition-delay: 600ms 0; }
    #page > nav span {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 30px;
      line-height: 30px;
      width: 80px;
      margin: -15px 0 0 -40px;
      text-align: center;
      background: #2929a3;
      z-index: 2;
      opacity: 0;
      cursor: default;
      -webkit-transition: 300ms;
      -webkit-border-radius: 20px; }
    #page > nav::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(255, 255, 255, 0.25);
      margin: 0; }
    #page > nav.l-col::after {
      opacity: 0;
      -webkit-transition: 300ms ease;
      -webkit-transition-delay: 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      border-top: 1px solid #2929a3;
      content: ""; }
    #page > nav:hover {
      background-color: rgba(0, 0, 255, 0.7);
      box-shadow: inset -1px 0 #2929a3, inset 1px 0 #2929a3; }
      #page > nav:hover span {
        opacity: 1; }
      #page > nav:hover::after {
        opacity: 1;
        left: 0;
        right: 0; }
  #page > .content {
    padding: 0 19px;
    min-width: 0;
    width: auto; }
    #page > .content > header {
      background-color: rgba(51, 51, 51, 0.4);
      position: relative;
      min-height: 58px;
      -webkit-transition: box-shadow 600ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0;
      margin: 15px 0; }
      #page > .content > header span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        line-height: 30px;
        width: 80px;
        margin: -15px 0 0 -40px;
        text-align: center;
        background: #1a1a1a;
        z-index: 2;
        opacity: 0;
        cursor: default;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px; }
      #page > .content > header::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page > .content > header.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #1a1a1a;
        content: ""; }
      #page > .content > header:hover {
        background-color: rgba(51, 51, 51, 0.7);
        box-shadow: inset -1px 0 #1a1a1a, inset 1px 0 #1a1a1a; }
        #page > .content > header:hover span {
          opacity: 1; }
        #page > .content > header:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page > .content .l-col {
      background-color: rgba(186, 175, 50, 0.4);
      position: relative;
      min-height: 2438px;
      -webkit-transition: box-shadow 600ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0; }
      #page > .content .l-col span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        line-height: 30px;
        width: 80px;
        margin: -15px 0 0 -40px;
        text-align: center;
        background: #6d6a4c;
        z-index: 2;
        opacity: 0;
        cursor: default;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px; }
      #page > .content .l-col::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page > .content .l-col.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #6d6a4c;
        content: ""; }
      #page > .content .l-col:hover {
        background-color: rgba(186, 175, 50, 0.7);
        box-shadow: inset -1px 0 #6d6a4c, inset 1px 0 #6d6a4c; }
        #page > .content .l-col:hover span {
          opacity: 1; }
        #page > .content .l-col:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page > .content .l-container {
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      max-width: 100%;
      width: 640px;
      margin-left: auto;
      margin-right: auto; }
      #page > .content .l-container::after {
        content: " ";
        display: table;
        clear: both; }
    #page > .content .p-title {
      background-color: rgba(51, 51, 51, 0.4);
      position: relative;
      min-height: 85px;
      -webkit-transition: box-shadow 600ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0;
      margin-bottom: 10px; }
      #page > .content .p-title span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        line-height: 30px;
        width: 80px;
        margin: -15px 0 0 -40px;
        text-align: center;
        background: #1a1a1a;
        z-index: 2;
        opacity: 0;
        cursor: default;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px; }
      #page > .content .p-title::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page > .content .p-title.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #1a1a1a;
        content: ""; }
      #page > .content .p-title:hover {
        background-color: rgba(51, 51, 51, 0.7);
        box-shadow: inset -1px 0 #1a1a1a, inset 1px 0 #1a1a1a; }
        #page > .content .p-title:hover span {
          opacity: 1; }
        #page > .content .p-title:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page > .content .p-meta {
      background-color: rgba(51, 51, 51, 0.4);
      position: relative;
      min-height: 35px;
      -webkit-transition: box-shadow 600ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0;
      margin-bottom: 15px; }
      #page > .content .p-meta span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        line-height: 30px;
        width: 80px;
        margin: -15px 0 0 -40px;
        text-align: center;
        background: #1a1a1a;
        z-index: 2;
        opacity: 0;
        cursor: default;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px; }
      #page > .content .p-meta::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page > .content .p-meta.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #1a1a1a;
        content: ""; }
      #page > .content .p-meta:hover {
        background-color: rgba(51, 51, 51, 0.7);
        box-shadow: inset -1px 0 #1a1a1a, inset 1px 0 #1a1a1a; }
        #page > .content .p-meta:hover span {
          opacity: 1; }
        #page > .content .p-meta:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page > .content .p-image {
      background-color: rgba(51, 51, 51, 0.4);
      position: relative;
      min-height: 415px;
      -webkit-transition: box-shadow 600ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0;
      margin-bottom: 15px; }
      #page > .content .p-image span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        line-height: 30px;
        width: 80px;
        margin: -15px 0 0 -40px;
        text-align: center;
        background: #1a1a1a;
        z-index: 2;
        opacity: 0;
        cursor: default;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px; }
      #page > .content .p-image::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page > .content .p-image.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #1a1a1a;
        content: ""; }
      #page > .content .p-image:hover {
        background-color: rgba(51, 51, 51, 0.7);
        box-shadow: inset -1px 0 #1a1a1a, inset 1px 0 #1a1a1a; }
        #page > .content .p-image:hover span {
          opacity: 1; }
        #page > .content .p-image:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page > .content .p-text {
      background-color: rgba(51, 51, 51, 0.4);
      position: relative;
      min-height: 1265px;
      -webkit-transition: box-shadow 600ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0; }
      #page > .content .p-text span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        line-height: 30px;
        width: 80px;
        margin: -15px 0 0 -40px;
        text-align: center;
        background: #1a1a1a;
        z-index: 2;
        opacity: 0;
        cursor: default;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px; }
      #page > .content .p-text::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page > .content .p-text.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #1a1a1a;
        content: ""; }
      #page > .content .p-text:hover {
        background-color: rgba(51, 51, 51, 0.7);
        box-shadow: inset -1px 0 #1a1a1a, inset 1px 0 #1a1a1a; }
        #page > .content .p-text:hover span {
          opacity: 1; }
        #page > .content .p-text:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
    #page > .content aside {
      width: 300px; }
  #page .mastfoot {
    background: rgba(34, 34, 34, 0.2); }
    #page .mastfoot .l-col {
      background-color: rgba(68, 68, 68, 0.4);
      position: relative;
      min-height: 337px;
      -webkit-transition: box-shadow 600ms ease, background 500ms ease;
      -webkit-transition-delay: 600ms 0; }
      #page .mastfoot .l-col span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        line-height: 30px;
        width: 80px;
        margin: -15px 0 0 -40px;
        text-align: center;
        background: #2b2b2b;
        z-index: 2;
        opacity: 0;
        cursor: default;
        -webkit-transition: 300ms;
        -webkit-border-radius: 20px; }
      #page .mastfoot .l-col::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: rgba(255, 255, 255, 0.25);
        margin: 0; }
      #page .mastfoot .l-col.l-col::after {
        opacity: 0;
        -webkit-transition: 300ms ease;
        -webkit-transition-delay: 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        border-top: 1px solid #2b2b2b;
        content: ""; }
      #page .mastfoot .l-col:hover {
        background-color: rgba(68, 68, 68, 0.7);
        box-shadow: inset -1px 0 #2b2b2b, inset 1px 0 #2b2b2b; }
        #page .mastfoot .l-col:hover span {
          opacity: 1; }
        #page .mastfoot .l-col:hover::after {
          opacity: 1;
          left: 0;
          right: 0; }
