#masthead {
  @include group;
  background: $blue;
  padding: 20px 20px 0;
  margin-bottom: 20px;

  h1 {
    font-weight: 200;
    font-size: 1.5rem;
    margin: 0;
    color: white;
    letter-spacing: 8px;
    float: left;
    text-shadow: 0 0 4px rgba(black, .2);
    text-transform: uppercase;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-shadow: 0 0 4px rgba(white, .2);
      }
    }
  }
}

#navigation {
  font-size: 1.1rem;
  line-height: 1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    word-spacing: 0;
  }

  a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
  }

  .site-nav {
    float: right;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
      @include border-radius(4px);
      color: lighten($blue, 30);

      &:hover {
        color: white;
      }
    }

    .s-active a,
    a:active {
      color: white;
      background: rgba(black, .2);
    }
  }

  .section-nav {
    text-align: right;
    background: $light-blue;
    padding: 0 10px;
    margin: 0 -20px;
    clear: both;
    font-size: 1rem;
    word-spacing: -4px;

    a:hover,
    a:active,
    .s-active a {
      color: $dark-grey;
    }
    a:hover {
      background: darken($light-blue, 5);
    }
    a:active,
    .s-active a {
      background: darken($light-blue, 10);
    }
  }
}
