@import "stratum";

$grid-nested-grids: false;
$grid-offsets:      false;
$grid-overrides:    false;
$grid-subdivisions: false;

// Colour scheme
$blue:        #6790c6;
$pink:        #e494b1;
$light-pink:  #f4cecb;
$light-blue:  #e1e4e9;
$orange:      #fda798;
$dark-grey:   #444;

@import "masthead";
@import "cases";
@import "options";

html {
  font: 13px/1.4 "Helvetica Neue", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  color: $dark-grey;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: ($grid-baseline * 2) 0 $grid-baseline;
}
