---
title: Bedrock components
---

.row
  %header
    %h1 Hello there

  .row.column-borders
    .one.column
      %h2 #1
      %p= lorem.sentence
    .two.columns
      %h2 #2
      %p= lorem.paragraph
    .five.columns
      %h2 #3
      %p= lorem.paragraph
    .two.columns
      %h2 #4
      %p= lorem.paragraph
