---
title: Bedrock Components
---

%section.row
  %header
    %h1= data.page.title

  %article
    %h2 Grid

    .row
      .one.column 1
      .two.columns 2
      .seven.columns 5
      .two.columns 2

    .row
      - (1..12).each do
        .one.column 1

    .row
      .two.columns 2
      .two.columns 2
      .six.columns.one-from-right.one-from-left 6, offset by 1 from left and right

    .row
      .two.columns 2
      .three.columns.last 2
      .two.columns.centered 4, centred

