---
title:  Bedrock Toolkit
uri:    .
---

%section
  .container
    %article#scaffolding
      %h2 Grids

      %h3 Flexible grid

      %h4 With no margins
      .container.sec1
        .one.col 1
        .two.col 2
        .six.col 6
        .three.col 3

      %h4 With margins
      .container.sec2
        .row.flexible
          .two.col 2
          .six.col 6
          .four.col 4


      %h3 Pixel grid
      %h4 <code>.column-borders</code> is applied.

      .row.column-borders
        .two.col
          .container.flexible.no-borders.collapse
            .six.col
              %h4 50%
            .six.col
              %h4 50%
            .six.col
              %h4 50%
            .six.col
              %h4 50%
        .two.col= lorem.words 20
        .six.col
          %figure= image_tag lorem.image('450x200'), :text => 'hello', :width => "100%"
          %p= lorem.paragraph
        .two.col
          - 3.times do
            = lorem.sentence

      .row
        - (1..12).each do
          .one.col
            %h4 1

      .row
        .two.col 2
        .two.col 2
        .six.col.one-from-right.one-from-left 6, offset by 1 from left and right

      .row
        .two.col 2
        .three.col.last 2
        .five.col.centered 3, centred

      .row
        .one.col
          %h4 1
        .five.col.two-to-left
          %h4 5, offset to left by 1
        .two.col
          %h4 2
        .three.col.two-to-right
          %h4 3, offset to right by 2
        .one.col
          %h4 1
