---
title: Bedrock components
---

.row
  %h1 Hello there

.row
  .one.column
    %h2 Left
  .two.columns
    %h2 Middle #1
    %p= lorem.paragraph
  .five.columns
    %h2 Middle #2
    %p= lorem.paragraph
  .two.column
    %h2 Right
