---
title: Bedrock components
---

.row
  %header
    %h1 Hello there

  .row.column-borders
    .two.columns
      %h2 Middle #1
      %p= lorem.paragraph
    .eight.columns
      %h2 Middle #2
      %p= lorem.paragraph
    .two.columns
      %h2 Right
      %p= lorem.paragraph
