---
title: Bedrock Toolset
---

%section

  %header
    %h1.container= data.page.title

  .container.sec1
    .one.col 1
    .two.col 2
    .seven.col 5
    .two.col 2

  .container.sec2
    .twelve.col 12

  .container
    %article#scaffolding
      %h2 Grid

      .row
        .one.col 1
        .one.col 1

      .row
        .one.col 1
        .two.col 2
        .seven.col 5
        .two.col 2

      .row
        - (1..12).each do
          .one.col 1

      .row
        .two.col 2
        .two.col 2
        .six.col.one-from-right.one-from-left 6, offset by 1 from left and right

      .row
        .two.col 2
        .three.col.last 2
        .two.col.centered 4, centred
