---
title: Bedrock components
---

.row
  %header
    %h1 Hello there

  .row
    .two.columns
      %h2 Middle #1
      %p= lorem.paragraph
    .six.columns
      %h2 Middle #2
      %p= lorem.paragraph
    .two.columns
      %h2 Right
