- current_section = ''

%nav#navigation
  %ul.site-nav
    - data.nav.each do |section|
      - page_bare = request.path[/^(\w+)\//, 1]

      - current_section = section.name if page_bare == section.directory

      %li{ class: page_bare == section.directory || !section.directory? && page_bare.empty? ? 's-active' : ''}
        = link_to section.name, "/#{section.directory}/"

  - if pages_for_section(current_section).length
    %ul.section-nav
      - for page in pages_for_section(current_section)
        - if page.name && !page.hide_in_nav
          %li{ class: page.name == current_page.data.title || page.name == current_page.data.menu_label ? 's-active' : '' }
            = link_to page.name, page.path
