// Grid settings
$grid-guides-color:         #8aa8c0   !default;
$grid-guides-opacity:       .2        !default;

$grid-type:                 pixel     !default;
$grid-size:                 976px     !default;
$grid-total-columns:        8         !default;
$grid-desired-gutter:       20px      !default;

@import "stratum";
@import "layout/scaffolding";

// @include GRID-GUIDES;

body {
  font: 12px/1.36 Helvetica, Arial, sans-serif;
  color: #444;
  background: #eaeaea;
  padding: 0;
  margin: 0;
}

// Reference

.reference {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: .3;
  z-index: -1;

  img {
    margin: 0 auto;
    display: block;
  }
}

// Mock block

%block {
  -webkit-transition: 400ms;
}

@mixin block($color: #333, $padding: 0) {
  @extend %block;
  background-color: rgba($color, .4);
  position: relative;

  span {
    color: #777;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    line-height: 30px;
    width: 80px;
    margin: -15px 0 0 -40px;
    text-align: center;
    background: white;
    z-index: 2;
    opacity: 0;
    -webkit-transition: 300ms;
    -webkit-border-radius: 20px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(white, .25);
    margin: $padding;
  }

  &.l-col::after {
    opacity: 0;
    -webkit-transition: 300ms ease;
    -webkit-transition-delay: 300ms;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    border-top: 1px solid white;
    content: "";
  }

  &:hover {
    background-color: rgba($color, .7);

    span {
      opacity: 1;
    }

    &::after {
      opacity: 1;
      left: 0;
      right: 0;
    }
  }
}

// Layout

.top-banner {
  @include block;
  height: 96px;
}

.nav {
  @include block(blue);
  height: 39px;
}

.hero {
  > header {
    margin: 10px 0;

    .l-col {
      @include block(green, $padding: $grid-gutter/2);
      height: 75px;
    }
  }

  > .dashboard {
    margin-top: 10px;
    margin-bottom: 10px;

    .p-item {
      @include block(purple, $padding: 7px);
      height: 217px;
      margin: 0;
    }

    .m-right .p-item {
      height: 434px;
    }
  }

  > nav {
    @include block;
    height: 63px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.content .l-col {
  @include block(#baaf32, $padding: $grid-gutter/2);
  height: 511px;
}

.footer {
  @include block(#444, $grid-gutter/2);
  height: 105px;
  margin-top: 10px;
}
