@import "stratum";
@import "layout/scaffolding";

@include GRID-GUIDES;

body {
  font: 12px/1.36 Helvetica, Arial, sans-serif;
  color: #444;
}

body {
  background: #eee;
  padding: 50px;
  margin: 0;
}

@for $i from 1 through 5 {
  h#{$i} {
    margin: 0 0 10px;
  }
}

.l-container {
  margin-bottom: $grid-gutter * 2;

  &:last-child {
    margin-bottom: 0;
  }

  .l-row {
    margin-bottom: $grid-gutter;

    &:last-child {
      margin-bottom: 0;
    }

    .l-row {
      margin-bottom: 1.6%;
    }
  }

  .l-col {
    min-height: $grid-baseline * 10;
    background: rgba(blue, .2);
    padding: $grid-baseline;

    .l-col {
      min-height: $grid-baseline * 5;
    }
  }
}
