@import "stratum";

@import "layout/scaffolding";

@include GRID-GUIDES;

body {
  font: 12px/1.36 Helvetica, Arial, sans-serif;
  color: #444;
}

body {
  background: #ddd;
  padding: 50px;
  margin: 0;
}

.l-container {
  .l-row {
    margin-bottom: $grid-gutter-medium;
  }
  .l-col {
    height: $grid-baseline * 10;
    background: rgba(blue, .2);
    padding: $grid-baseline;
  }
}
