---
title:  Arstechnica Article Layout
css:    arstechnica
type:   trace
---

= partial 'nav'

.reference
  = image_tag '/images/arstechnica.png'
#page.l-container
  .masthead
  %nav
  .content.l-container.m-fluid
    .head
    .l-row
      .content.l-col
        .l-container
          .p-article
          .related.l-row
            .p-title.l-col.m-1-of-1
              .item
            .l-col.m-1-of-4
              .item
            .l-col.m-1-of-4
              .item
            .l-col.m-1-of-4
              .item
            .l-col.m-1-of-4
              .item
            .l-col.m-1-of-4
              .item
            .l-col.m-1-of-4
              .item
            .l-col.m-1-of-4
              .item
            .l-col.m-1-of-4
              .item
      %aside.sidebar.l-col
  %footer.mastfoot.l-row.m-gutterless
    .l-col.m-2
      %span 2 columns
    .l-col.m-2
      %span 2 columns
    .l-col.m-2
      %span 2 columns
    .l-col.m-2
      %span 2 columns
