---
title:  Guardian Homepage Layout
css:    guardian
type:   trace
---

= partial 'nav'

.reference
  = image_tag '/images/guardian-home.png'
#page
  .l-container
    .top-bar
    .header
      .p-info
      .p-search
      .masthead.l-row
        .p-logo.l-col.m-6
          %span l-col m-6
        .p-weather.l-col.m-6
          %span l-col m-6
      .nav
        .p-main
        .p-sub
      .ticker
    .content.l-row
      .left.l-col.m-4
        .item.m-i1
          %span l-col m4
        .item.m-i2
          %span l-col m4
        .item.m-id
          %span l-col m4
      .main.l-col.m-6
        .item.m-feat
          %span l-col m6
        .l-row
          .l-col.m-2
            .item.m-i1
              %span l-col m2
            .item.m-i2
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i4
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i3
              %span l-col m2
            .item.m-i5
              %span l-col m2
          .l-col.m-4
            .item.m-i1
              %span l-col m4
            .item.m-i2
              %span l-col m4
            .item.m-i3
              %span l-col m4
            .item.m-i4
              %span l-col m4
            .item.m-i5
              %span l-col m4
            .item.m-i6
              %span l-col m4
            .item.m-i7
              %span l-col m4
            .item.m-i8
              %span l-col m4
      .right.l-col.m-2
        .item.m-i1
          %span l-col m2
        .item.m-i2
          %span l-col m2
        .item.m-i3
          %span l-col m2
        .item.m-i4
          %span l-col m2
        .item.m-i5
          %span l-col m2
        .item.m-i6
          %span l-col m2
        .item.m-i7
          %span l-col m2
        .item.m-i8
          %span l-col m2
        .item.m-i9
          %span l-col m2
        .item.m-i10
          %span l-col m2
        .item.m-i11
          %span l-col m2
        .item.m-i12
          %span l-col m2
        .item.m-i13
          %span l-col m2
    .shop
      %header
      .l-row
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
    .simple-news
      %header
      .l-row
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
        .l-col.m-2
          %span l-col m2
    .mastfoot
